.product_wrapper {
    padding: 15px;

    .product_top_display {
        text-align: center;
        width: 100%;
        /* height: 300px; */
        position: relative;

        ._1T9dHf {
            height: 320px;
            object-fit: contain;
        }

        .fav_circle {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            //background: url("../assets/imgs/heart.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 9;
        }

        .not_fav {
            background-color: #dcdcdc;
        }

        .fav {
            background-color: #da1c5c;
        }
    }

    .product_image_list {
        width: 100%;
        text-align: center;

        .product_image_circle {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            padding: 10px;
            margin-bottom: 10px;
        }

        .active {
            background: #ffffff;
            -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
            position: relative;
            text-decoration: none;
            vertical-align: top;
        }

        img {
            width: 60px;
            border-radius: 50%;
        }
    }

    .product_header {
        margin-top: 20px;

        .product_watermark {
            position: relative;

            h2 {
                color: #ececec;
                margin: 0px;
                font-size: 20px;
                font-weight: 700;
                padding-left: 10px;
            }

            h4 {
                color: #5a5a5a;
                position: absolute;
                font-size: 20px;
                font-weight: 700;
                bottom: 8px;
                margin: 0px;
            }
        }

        p {
            color: #5a5a5a;
            margin: 0px;
            padding: 0px;
            font-weight: 500;
            font-size: 16px;
        }

        h6 {
            margin: 0px;
            padding: 0px;
            color: #999;
            font-weight: 400;
        }

        .product_spec {
            padding-top: 10px;

            .borderRight {
                border-right: 1px solid #ececec;
            }

            h5 {
                margin: 0px;
                padding: 0px;
                color: #a5a5a5;
                font-size: 14px;
            }

            ul {
                padding: 0px;
                margin: 0px;
                padding-top: 15px;

                li {
                    list-style: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #e2e2ea;
                    display: inline-block;
                    margin-right: 5px;

                    p {
                        border-radius: 50% !important;
                    }
                }

                #custom_check_button {
                    margin: 4px;
                    background-color: #fff;
                    border-radius: 25px !important;
                    overflow: auto;
                    color: #000;
                    border: 1px solid #e7e7e7;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    outline: none;
                }

                #custom_check_button p {
                    margin: 0px;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    padding: 0px;
                }

                #custom_check_button label {
                    width: 100%;
                }

                #custom_check_button label span {
                    text-align: center;
                    display: block;
                }

                #custom_check_button label input {
                    position: absolute;
                    top: -20px;
                }

                #custom_check_button input:checked+p {
                    background-color: #1f5282;
                    color: #fff;
                    margin: 0px;
                    border-radius: 50%;
                    border: 3px solid #1f5282;
                }

                #custom_check_button p img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50% !important;
                }
            }

            h5 {

                position: relative;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 1.5rem;
                color: #404040;
                overflow: hidden;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            p {
                text-align: center;
                margin: 0px;
                padding: 0px;
                color: #ff350e;
                font-weight: bold;
                font-size: 1.5rem;
                text-align: left;
                //padding-bottom: 5px;

                strong {
                    color: #a3a3a3;
                    font-weight: 300;
                    padding-left: 5px;
                    text-decoration: line-through;
                    margin-right: 5px;
                    font-size: 1.3rem;
                }
            }


        }

        .increment_div {
            padding-top: 15px;

            button {
                background: none;
                border: none;
                display: inline-block;
                color: #707070;
                font-size: 25px;
            }

            .counter_circle {
                width: 45px;
                height: 45px;
                border: 2px solid #707070;
                color: #707070;
                display: inline-block;
                border-radius: 50%;
                padding-top: 11px;
                ;
                font-weight: 600;
                text-align: center;
                font-size: 16px
            }
        }

        .size_chart {
            padding-top: 20px;

            h5 {
                margin: 0px;
                padding: 0px;
                color: #a5a5a5;
                font-size: 15px;
            }

            ul {
                padding: 0px;
                margin: 0px;
                padding-top: 15px;

                li {
                    list-style: none;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #e2e2ea;
                    display: inline-block;
                    margin-right: 5px;

                    p {
                        border-radius: 50% !important;
                    }
                }

                #custom_check_button {
                    margin: 4px;
                    background-color: #fff;
                    border-radius: 25px !important;
                    overflow: auto;
                    color: #000;
                    border: 1px solid #e7e7e7;
                    position: relative;
                    width: 35px;
                    height: 35px;
                    outline: none;
                }

                #custom_check_button p {
                    margin: 0px;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    padding: 0px;
                }

                #custom_check_button label {
                    width: 100%;
                }

                #custom_check_button label span {
                    text-align: center;
                    display: block;
                }

                #custom_check_button label input {
                    position: absolute;
                    top: -20px;
                }

                #custom_check_button p {
                    border: 2px solid #707070;
                    color: #707070;
                    text-align: center;
                    padding: 4px;
                }

                #custom_check_button input:checked+p {
                    background-color: #252525;
                    border: 2px solid #252525;
                    color: #fff;
                    margin: 0px;
                    border-radius: 50%;
                }

                .seeall {
                    float: right;
                    color: #fff;
                    height: 25px;
                    border-radius: 20px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-transform: capitalize;
                    font-weight: 400;
                    background: #1f5282;
                }
            }
        }

        .description {
            padding-top: 20px;

            h5 {
                margin: 0px;
                padding: 0px;
                color: #a5a5a5;
                font-size: 15px;
            }

            p {
                color: #a0a0a0;
                font-weight: 400;
                font-size: 14px;
                text-align: justify;
                padding-top: 10px;
            }
        }
    }
}


//Footter
.checkout-bg-p {
    text-align: left;
    padding-left: 20px;
    color: #0ba360;
    font-weight: bold;
    //font-size: 1.1rem;
    //margin: 15px;

}

.checkout-bg {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    text-align: center;
    height: 3.5rem;
    background: -webkit-linear-gradient(left, #ff9f36, #ff6700);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.checkout-bg.now {
    background: -webkit-linear-gradient(left, #ffd600, #ffc400);
}

.checkout-bg.additem {
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
}

.checkout-bg-inner {

    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);

}

.pdp-mod-sbutton-inner {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    color: #fff;
    font-size: 1rem;
    line-height: .4rem;
    margin: 0 .1rem;
}


.cart-num.normal-num {
    //width: 18px;
    top: -3px;
}

.cart-num {
    background: #ffffff;
    color: #0ba360;
    border-radius: 0.625rem;
    height: 1.35rem;
    /* position: absolute; */
    /* left: 70%; */
    /* top: -0.3125rem; */
    font-size: 16px;
    font-weight: 700;
    /* line-height: 1.3rem; */
    padding: 0.115rem 0.5025rem;
    text-align: center;
}