<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      รายละเอียดสินค้า
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addcartnowShow()">
        <ion-icon name="cart"></ion-icon>
        <span class="cart-num normal-num">{{itemcount}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="product_wrapper">
    <div class="product_top_display">
      <!--  <div class="fav_circle fav"></div> -->

      <img [lazyLoad]="picturename" [errorImage]="imageToShowOnError"
            [src]="picturename" ionImgViewer class="_1T9dHf">

      <!--  <ion-slides pager="false" #mySlider class="hm_service_slide"  (ionSlideDidChange)="slideChanged()">
                <ion-slide *ngFor="let item of items_image; let i=index; ">
                    <img src="{{BASEURLIMG}}{{item.img_path}}" style="width: 100%;">
                </ion-slide>
            </ion-slides> -->
    </div>
    <!-- <div class="product_image_list">
            <ion-slides loop="true" slidesPerView="4">
                <ion-slide *ngFor="let item of items_image; let i=index; " (click)="goToSlide(i)">
                    <div class="product_image_circle"  [ngClass]="{'active' : slidertab == i}" >
                      <img src="{{BASEURLIMG}}{{item.img_path}}">
                    </div>
                </ion-slide>
            </ion-slides>
        </div> -->
    <div class="product_header">
      <div class="product_watermark">
        <h2>{{product_name}}</h2>
        <h4>{{product_name}}</h4>
      </div>
      <!-- <p>{{productdesct}}</p> -->
      <h6>Product Code # {{product_barcode}}</h6>
      <div class="product_spec">
        <ion-row>
          <ion-col size=8>
            <h5>Price</h5>
            <p *ngIf="pro_price > 0 "><strong *ngIf="isShown == false">฿{{product_price1 | number:'1.2-2'}}</strong><strong *ngIf="isShown == true"> <ion-spinner name="dots"></ion-spinner></strong></p>
            <p *ngIf="pro_price > 0 ">฿{{pro_price | number:'1.2-2'}}</p>
            <p [hidden]="pro_price > 0 " style="margin-top: 20px;"><span *ngIf="isShown == true"><ion-spinner name="dots"></ion-spinner></span><span *ngIf="isShown == false">฿{{product_price1 | number:'1.2-2'}}</span></p>
          </ion-col>
          <ion-col size=4 style="text-align: center;">
            <h5>Qty</h5>
            <div class="increment_div">
              <button class="sub" (click)="sub()">-</button>
              <div class="counter_circle" (click)="itemCountProduct()">{{count}}</div>
              <button class="add" (click)="add()">+</button>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <!-- <div class="size_chart">
            <h5>SELECT SIZE</h5>
            <ul>
              <li id="custom_check_button">
                <label>
                  <input id="5" type="radio" name="services" value="A">
                  <p>S</p>
                </label>
              </li>
              <li id="custom_check_button">
                <label>
                  <input id="6" type="radio" name="services" value="B">
                  <p>M</p>
                </label>
              </li>
              <li id="custom_check_button">
                <label>
                  <input id="7" type="radio" name="services" value="C">
                  <p>L</p>
                </label>
              </li>
              <li id="custom_check_button">
                <label>
                  <input id="8" type="radio" name="services" value="D">
                  <p>XL</p>
                </label>
              </li>
              <button ion-button class="seeall floatRight">Size Chart</button>
              <div class="clear"></div>
            </ul>
          </div> -->


      <div class="product_spec">
            <h5>Stock สินค้า</h5>
            <p style="color: #e74c3c;
            font-weight: bold;
            font-size: 1.5rem;" *ngIf="isShown == true">
              <ion-spinner name="dots"></ion-spinner>
            </p>
            <p style="color: #e74c3c;
            font-weight: bold;
            font-size: 1.5rem;" *ngIf="isShown == false">
              {{stockbalance | number:'1.2-2'}}
            </p>
          </div>

    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

</ion-content>

<ion-footer no-shadow style="height: 3.5rem;background: #ffffff;">
  <ion-row>
    <ion-col  size="6" style="padding: 0px;">

      <p class="checkout-bg-p" *ngIf="pro_price > 0 ">฿{{(pro_price * count) | number:'1.2-2' }}</p>
      <p class="checkout-bg-p" [hidden]="pro_price > 0 ">฿{{(product_price1 * count) | number:'1.2-2' }}</p>
    </ion-col>

    <ion-col  size="3" (click)="addcartnowproduct()" style="padding: 0px;">

      <div class="checkout-bg-inner">
        <div class="checkout-bg default now" >
          <span class="pdp-mod-sbutton-inner" style="font-size: 1.1rem;">
            ซื้อเลย
          </span>
        </div>
      </div>

    </ion-col>
    <ion-col  size="3" (click)="addcartproduct()" style="padding: 0px;">

      <div class="checkout-bg-inner">
        <div class="checkout-bg default additem" >
          <span class="pdp-mod-sbutton-inner">
            <ion-icon name="add" style="display: inline-block;font-size: 1.2em;"></ion-icon>
            <ion-icon name="md-cart" style="display: inline-block;font-size: 1.2em;">
            </ion-icon>
          </span>
        </div>
      </div>

    </ion-col>

  </ion-row>
</ion-footer>
