<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">ชื่อทีม</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 60px">
    <form (ngSubmit)="showConfirm()" #loginForm="ngForm">

      <ion-item>
        <ion-label>ตั้งชื่อทีมสำรวจ :</ion-label>
        <ion-input type="text" name="teamname" [(ngModel)]="datacount.teamname" placeholder="ตั้งชื่อทีม...">
        </ion-input>
      </ion-item>

      <ion-list style="margin-top: 5px;">
          <ion-button expand="block"  class="bg-background"
          type="submit" style="margin-top: 30px;"><ion-icon name="download"></ion-icon>บันทึกชื่อทีม</ion-button>
      </ion-list>

    </form>

  </div>

  <ion-grid style="margin-top: 25px;text-align: center;" *ngIf="empname">
      <h3 style="font-size: large;">รายชื่อทีมสำรวจ</h3>
  </ion-grid>

  <ion-item *ngFor="let item of empname; let i = index;">
    <ion-label class="ion-text-wrap" style="margin-top: 0px;margin-bottom: 5px;">
        <h2> {{i+1}}.  ชื่อ : {{item.survey_emp_name}}</h2>
      </ion-label>
  </ion-item>

</ion-content>