<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">หน้าหลัก</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openNotify()">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="type_admin == '2' || type_admin == '3'">
      <ion-button (click)="openModal()">
        <ion-icon name="pin"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content>

  <ion-list style="margin-top: 15px;margin-bottom: 0px;">
    <form (ngSubmit)="presentConfirm()" #loginForm="ngForm">
      <ion-item>
        <ion-label>เลือกวันที่เริ่มออกสำรวจ :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="datefirst"
          [(ngModel)]="datacount.datefirst"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>เลือกวันที่สิ้นสุดออกสำรวจ :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="dateend"
          [(ngModel)]="datacount.dateend"></ion-datetime>
      </ion-item>

      <ion-row style="margin-top: 5px;">
        <ion-col class="ion-text-center">
          <ion-button expand="full" class="bg-background" type="submit" icon-left="" ion-button="" round=""
            type="submit"> ค้นหา</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-list>

  <h2 style="font-size: medium;color: #222;font-weight: bolder;margin-top: 5px;margin-bottom: 15px;" class="ion-text-center">
    รายการสาขา : <span style="color: #0ba360;">{{datacount.namebranch}}</span>
  </h2>




  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list class="ion-text-center" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>

  <ion-list *ngFor="let item of items" style="padding-top: 0px;padding-bottom: 0px;">
    <ion-item *ngIf="item.status_id == 2 " (click)="itemTapped(item.survey_doc_no,item.branchcode,item.branchname)">
      <ion-thumbnail slot="start" style="font-size: 2.6rem;text-align: center;color: #e74c3c;"
        *ngIf="item.survey_active == null || item.survey_active == false ">
        <ion-icon name="close-circle"></ion-icon>
      </ion-thumbnail>
      <ion-thumbnail slot="start" style="font-size: 2.6rem;text-align: center;color: #0ba360;"
        *ngIf="item.survey_active == true ">
        <ion-icon name="close-circle"></ion-icon>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap" style="margin-top: 0px;margin-bottom: 5px;">
        <h2>ชื่อทีม : {{item.team_name}}</h2>
        <h2>{{item.survey_doc_no}}</h2>
        <h2>{{item.empcreate_name}}</h2>
        <p>วันออกสำรวจ : {{item.date_survey}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngFor="let item of items2" style="padding-top: 0px;padding-bottom: 0px;">
    <ion-item *ngIf="item.status_id == 2 " (click)="itemTapped(item.survey_doc_no,item.branchcode,item.branchname)">
      <ion-thumbnail slot="start" style="font-size: 2.6rem;text-align: center;color: #e74c3c;"
        *ngIf="item.survey_active == null || item.survey_active == false">
        <ion-icon name="close-circle"></ion-icon>
      </ion-thumbnail>
      <ion-thumbnail slot="start" style="font-size: 2.6rem;text-align: center;color: #0ba360;"
        *ngIf="item.survey_active == true ">
        <ion-icon name="close-circle"></ion-icon>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap" style="margin-top: 0px;margin-bottom: 5px;">
        <h2>ชื่อทีม : {{item.team_name}}</h2>
        <h2>{{item.survey_doc_no}}</h2>
        <h2>{{item.empcreate_name}}</h2>
        <p>วันออกสำรวจ : {{item.date_survey}}</p>
      </ion-label>
    </ion-item>

  </ion-list>



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</ion-content>