// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


img.ng-lazyloaded {
    animation: fadein .5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.modal-wrapper.sc-ion-modal-md {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    opacity: .01;
    width: 100%;
    height: 100%;
}

.sc-ion-modal-md-h {
    --background: transparent;
}

.sc-ion-modal-ios-h {
    --background: transparent;
}

.modal-wrapper.sc-ion-modal-ios {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    opacity: .01;
    width: 100%;
    height: 100%;
}
.main-view {
    --background: transparent;
}