<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      ร้านคู่แข่ง
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>




  <ion-grid>
    <ion-list style="margin-bottom: 0px;" class="ion-text-center">
      <h4 style="margin-bottom: 0px;margin-top: 5px;">สาขา : {{datacount.namebranch}}</h4>
    </ion-list>
  </ion-grid>

  <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหาชื่อร้าน..."></ion-searchbar>

  <ion-list class="ion-text-center" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>
  <ion-list *ngIf="items.length <= 0" class="ion-text-center">
      <p > --- ยังไม่มีรายการ ---</p>
      </ion-list>


  <ion-list style="margin-bottom: 100px;">


    <ion-item lines="full" *ngFor="let item of items" (click)="itemCatalog(item)">

      <!-- <ion-icon slot="icon-only" name="close-circle" slot="start" *ngIf="item.status==0" 
      style="color: #f04141;
      font-size: 1.75rem;
      margin-right: 10px;"></ion-icon>
      <ion-icon slot="icon-only" name="checkmark-circle" slot="start" *ngIf="item.status==1" 
      style="color: #0ec254;
      font-size: 1.75rem;
      margin-right: 10px;"></ion-icon> -->

      <ion-avatar slot="start" *ngIf="item.rival_img != null">
        <img src="{{imgpath}}{{item.rival_img}}">
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="item.rival_img == null">
        <img src="assets/No_Image.jpg">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h2 style="color: #262626;"> {{item.rival_name}}</h2>
        <h3 style="color: #262626;"> {{item.rival_code}}</h3>
        <h3 style="color: #262626;">ที่ตั้ง : <span *ngIf="item.latitude != null">{{item.latitude}} {{item.longitude}}</span ><span *ngIf="item.latitude == null" style="color: #ff4c4c;">--ไม่มีที่ตั้ง--</span></h3>
        <h3 style="color: #262626;">ข้อมูลของสาขา : <span *ngIf="item.branchname != null">{{item.branchname}} </span ><span *ngIf="item.branchname == null" style="color: #ff4c4c;">--ยังไม่มีข้อมูล--</span></h3>
      </ion-label>
    </ion-item>



  </ion-list>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab>
    <ion-fab-button color="dark">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
     <!--  <ion-fab-button color="light" (click)="goToAdd(1)" data-desc="เพิ่มร้านคู่แข่งใหม่">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button color="light" (click)="goToAdd(2)" data-desc="เพิ่มรายการร้านคู่แข่ง">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- <ion-infinite-scroll (ionInfinite)="loadInfinite($event)" *ngIf="itemslength < pageAllpage">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</ion-content>