<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">รายการสถานที่สำรวจ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหาสถานที่..."></ion-searchbar>

  <ion-list class="ion-text-center" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>


  <ion-item-sliding *ngFor="let item of items" #slidingItem>
    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="removeItem(item.catagory_id,slidingItem)">
        <ion-icon name="trash" style="font-size: 2em;"></ion-icon>
        ลบ
      </ion-item-option>
    </ion-item-options>
    <ion-item lines="full" (click)="itemTapped(item.catagory_id,item.type_sub)">
      <ion-thumbnail slot="start">
        <img [lazyLoad]="item.cutomer_img2" [errorImage]="imageToShowOnError">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>ชื่อ : {{item.facilityname}}</h2>
        <h3>ประเภท: {{item.type_customer}}</h3>
        <h3>เอกสาร : {{item.survey_doc_no}}</h3>
      </ion-label>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="item.survey_approve == false">ไม่สำเร็จ
      </ion-badge>
      <ion-badge slot="end" *ngIf="item.survey_approve == true">สำเร็จ</ion-badge>
    </ion-item>
  </ion-item-sliding>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab>
    <ion-fab-button color="warning" (click)="presentConfirm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</ion-content>