.deleteIcon {
    position: absolute;
    color: #ffffff;
    right: 2px;
    margin-top: 3px;
    font-size: x-large;
}

#map {
    width: 100%;
    height: 50%;
}
.error-box {
    color: #e74c3c;
    margin-left: 15px;
  }

  ion-list {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-item-background,var(--ion-background-color,#fff));
}