<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">เพิ่มสถานที่ข้อมูลสำรวจ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="addlistlocation"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="idedit != null">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid style="margin-top: 5px" *ngIf="datacount.customertype == 10">
    <ion-row class="row header">
      <ion-col>
        <h4 style="color: #e74c3c;">ร้านค้าที่มีขนาดใหญ่ เกิน 5,000 ตรม.</h4>
        <h5 style="color: #e74c3c;">ร้านค้าที่มีการนำเข้าสินค้าจาก Sup และกระจายสินค้าในพื้นที่นั้นๆ</h5>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="photos.length <= 0 " style="margin-bottom: 15px;">
    <ion-row class="ion-text-center">
      <ion-col>
        <h3 style="margin-top: 5px;margin-bottom: 0px;font-size: large;">รูปภาพที่สำรวจ</h3>
      </ion-col>
    </ion-row>
    <p class="ion-text-center" style="color: red;margin-top: 0px;margin-bottom: 0px;">* กรุณาถ่ายรูปภาพที่ทำการสำรวจ</p>
  </ion-grid>

  <ion-grid *ngIf="photos.length >= 1">
    <ion-row>
      <ion-col size=6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid style="margin-top: 10px">
    <div *ngFor="let image of items_img; let i = index;">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size=6 *ngIf="i < items_img.length">
          <ion-card class="block">
            <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(items_img[i].id_img)">
            </ion-icon>
            <img [lazyLoad]="items_img[i].cutomer_img2" [errorImage]="imageToShowOnError"
              [src]="items_img[i].cutomer_img2" ionImgViewer>
          </ion-card>
        </ion-col>
        <ion-col size=6 *ngIf="i+1 < items_img.length">
          <ion-card class="block">
            <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(items_img[i+1].id_img)">
            </ion-icon>
            <img [lazyLoad]="items_img[i+1].cutomer_img2" [errorImage]="imageToShowOnError"
              [src]="items_img[i+1].cutomer_img2" ionImgViewer>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentActionSheet()" class="bg-background" icon-left *ngIf="images == null">
        <ion-icon name="camera"></ion-icon>
        ถ่ายรูปภาพ/เลือกรูปภาพ
      </ion-button>

      <ion-button expand="block" (click)="presentActionSheet()" class="bg-background" icon-left *ngIf="images != null">
        <ion-icon name="camera"></ion-icon>
        ถ่ายรูปภาพ/เลือกรูปภาพ
      </ion-button>

    </ion-col>
  </ion-row>


  <div
    [hidden]="datacount.customertype == 6 || datacount.customertype == 7 || datacount.customertype == 21 || datacount.customertype == 22 || datacount.customertype == 23 ">
    <ion-list style="margin-top: 10px;">

      <ion-item color="light">รายการข้อมูลลูกค้า</ion-item>
      <div *ngIf="items_cus != null">
        <ion-item-sliding *ngFor="let item of items_cus; let i = index;" #slidingItem>
          <ion-item-options side="end">
            <ion-item-option color="danger" expandable (click)="removeItemcustomerOnServer(item.id_cus,slidingItem)">
              <ion-icon name="trash" style="font-size: larger;"></ion-icon>
              ลบข้อมูล
            </ion-item-option>
          </ion-item-options>
          <ion-item lines="full">
            <ion-label class="ion-text-wrap">
              <h2>ชื่อลูกค้า : {{item.fullname}}</h2>
              <h3>เบอร์โทร : {{item.telephone}}</h3>
              <h3>อีเมล์ : {{item.email}}</h3>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </div>

      <div *ngIf="itemscus.length > 0">
        <ion-item-sliding *ngFor="let item of itemscus" #slidingItem>
          <ion-item-options side="end">
            <ion-item-option color="danger" expandable (click)="removeItemcustomer(item.id_cus,slidingItem)">
              <ion-icon name="trash" style="font-size: larger;"></ion-icon>
              ลบข้อมูล
            </ion-item-option>
          </ion-item-options>
          <ion-item lines="full">
            <ion-label class="ion-text-wrap">
              <h2>ชื่อลูกค้า : {{item.username}}</h2>
              <h3>เบอร์โทร : {{item.mobile}}</h3>
              <h3>อีเมล์ : {{item.email}}</h3>
            </ion-label>
          </ion-item>
        </ion-item-sliding>

      </div>

    </ion-list>


    <ion-list>
      <!-- Second Level -->
      <!-- Toggle Button -->
      <ion-item (click)='fntogglecusnew()' color="light">
        <ion-icon item-left name="add" *ngIf="togglecusnew == false"></ion-icon>
        <ion-icon item-left name="close" *ngIf="togglecusnew == true"></ion-icon>
        เพิ่มข้อมูลลูกค้า
      </ion-item>

      <!-- Direct Add Button as Fallback -->

      <ion-list *ngIf="togglecusnew == true ">

        <ion-item>
          <ion-label position="floating">{{'addlocation.Name_cus' | translate}}</ion-label>
          <ion-input type="text"  name="addusername" [(ngModel)]="datacount.addusername"></ion-input>
        </ion-item>
        <!--  <div class="error-box">* Username is required!</div> -->
        <ion-item>
          <ion-label position="floating">{{'addlocation.Telephone_number' | translate}}</ion-label>
          <ion-input type="tel" name="addmobile" [(ngModel)]="datacount.addmobile"   minlength="13"  maxlength="13"  (ionChange)="onSelectChange($event)"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="datalength != null ">{{datalength}}</div>
        <ion-item>
          <ion-label position="floating">{{'addlocation.Email' | translate}}</ion-label>
          <ion-input type="email" name="addemail" [(ngModel)]="datacount.addemail"></ion-input>
        </ion-item>
        <!-- <div class="error-box">* Email is required!</div> -->
        <ion-row style="margin-top: 5px;">
          <ion-col size=6 class="ion-text-center">
            <ion-button expand="block" color="danger" (click)="cleanItemcustomer()" icon-left>
              <ion-icon name="md-close"></ion-icon> {{'addlocation.clean_data' | translate}}
            </ion-button>
          </ion-col>
          <ion-col size=6 class="ion-text-center">
            <ion-button expand="block" class="bg-background"  (click)="submitForm()"  icon-left>
              <ion-icon name="md-person-add"></ion-icon> {{'addlocation.Add_customer' | translate}}
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-list>




    </ion-list>


  </div>



  <div *ngIf="items_score.length > 0">
    <div style="display: block">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource">
      </fusioncharts>
    </div>



    <ion-row style="margin-left: 10px;margin-right: 10px;">
      <ion-col size=4 class="ion-text-center" style="color: #0075c2;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนทั้งหมด : </p>
        <span>{{score_net | number:'1.0-0'}}</span>
      </ion-col>
      <ion-col size=4 class="ion-text-center" style="color: #ffc107;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนที่ใช้ : </p>
        <span>{{score_pay | number:'1.0-0'}}</span>
      </ion-col>
      <ion-col size=4 class="ion-text-center" style="color: #1aaf5d;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนคงเหลือ : </p>
        <span>{{balance_score | number:'1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <ion-list style="margin-left: 20px;margin-right: 20px;">
      <h4 class="ion-text-center">เงื่อนไข </h4>
      <p style="margin-top: 0px;margin-bottom: 0px;">
        * ซื้อสินค้าในวัน ครบทุก 50 บาทรับ 1 คะแนนสะสม (ยกเว้นสินค้าที่ไม่ร่วมรายการ)
      </p>
      <p style="margin-top: 0px;margin-bottom: 0px;">
        * แสดงคะแนนสะสม ณ เมื่อวานนี้
      </p>
    </ion-list>
  </div>


  <ion-list
    [hidden]="datacount.customertype == 6 || datacount.customertype == 7 || datacount.customertype == 21 || datacount.customertype == 22 || datacount.customertype == 23">
    <ion-item>
      <ion-label style="color: #e13838;">คลิกเลือกเมื่อ ต้องการเพิ่มสำรวจลูกค้าเก่า</ion-label>
      <ion-checkbox (click)="togglecustomers = !togglecustomers"></ion-checkbox>
    </ion-item>

    <ion-row *ngIf="togglecustomers">
      <ion-col>
        <form (ngSubmit)='searchForTerm()'>
          <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหารหัสบัตรประชาชน/เบอร์โทร...">
          </ion-searchbar>
        </form>
      </ion-col>
    </ion-row>
  </ion-list>


  <form (ngSubmit)="showConfirm()" #registerForm="ngForm">


    <ion-item *ngIf="togglecustomers || togglecus == true" [hidden]="datacount.cusid == ''  || datacount.cusid == null">
      <ion-label position="floating">
        <span style="color: #222;">เลขที่สมาชิก : </span>
      </ion-label>
      <ion-input type="text" name="cusid" [(ngModel)]="datacount.cusid"></ion-input>
    </ion-item>

    <ion-item *ngIf="togglecustomers || togglecus == true"
      [hidden]="datacount.identification_card == ''  || datacount.identification_card == null">
      <ion-label position="floating">รหัสบัตรประชาชน :</ion-label>
      <ion-input name="identification_card" type="tel" maxlength="13" minlength="13"
        [(ngModel)]="datacount.identification_card"></ion-input>
    </ion-item>

    <ion-item *ngIf="togglecustomers || togglecus == true" [hidden]="fullname == ''  || fullname == null">
      <ion-label position="floating">
        <span> ชื่อ-นามสกุล : </span>
      </ion-label>
      <ion-input type="text" name="fullname" [(ngModel)]="fullname"></ion-input>
    </ion-item>

    <ion-item *ngIf="togglecustomers || togglecus == true"
      [hidden]="datacount.mobile == ''  || datacount.mobile == null">
      <ion-label position="floating"> เบอร์โทร :</ion-label>
      <ion-input name="mobile" type="tel" maxlength="10" minlength="10" [(ngModel)]="datacount.mobile"></ion-input>
    </ion-item>


    <div *ngIf="!datacount.customertype">
    </div>

    <ion-item *ngIf=" datacount.customertype == 5 || datacount.customertype == 7 || datacount.customertype == 8 ">
      <ion-label position="fixed">
        <span style="color: #e74c3c;">* {{'addlocation.Category' | translate}} : </span>
      </ion-label>
      <ion-select slot="end" type="text" name="type_input" [(ngModel)]="datacount.type_input" cancelText="ยกเลิก"
        okText="ตกลง" required>
        <ion-select-option *ngFor="let item of items" [value]="item.id_sub_type">
          <span *ngIf="idLanguage == 1">{{item.name_type_en}}</span>
          <span *ngIf="idLanguage == 2">{{item.name_type}}</span>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 1 || datacount.customertype == 2 || datacount.customertype == '12' ">
      <ion-label position="fixed">
        <span style="color: #e74c3c;">* {{'addlocation.Category' | translate}} : </span>
      </ion-label>
      <ion-select slot="end" type="text" name="subtype" [(ngModel)]="datacount.subtype" multiple="true"
        cancelText="ยกเลิก" okText="ตกลง" required>
        <ng-container *ngFor="let item of itemssub">
          <ion-select-option [value]="item.customer_subtype_id" *ngIf="item.customer_type_id == datacount.typesub">
            {{item.customer_type_name}}
          </ion-select-option>
        </ng-container>
      </ion-select>

    </ion-item>


    <ion-item
      *ngIf="datacount.customertype == 1 || datacount.customertype == 7 || datacount.customertype == 8 || datacount.customertype == 9 || datacount.customertype == 10 || datacount.customertype == 12 || datacount.customertype == 13 || datacount.customertype == 14 || datacount.customertype == 15 || datacount.customertype == 18 || datacount.customertype == 21 || datacount.customertype == 22 || datacount.customertype == 23">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Facility_Name' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Store_name' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>
    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 17">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.name_organization' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>
    <ion-item *ngIf="datacount.customertype == 4">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Measure_name' | translate}}</span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>
    <ion-item *ngIf="datacount.customertype == 5 || datacount.customertype == 16">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Store_name' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 6">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Market_Name' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="facilityname" [(ngModel)]="datacount.facilityname" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Problem_Customer' | translate}} </span>
      </ion-label>
      <!--  <ion-input type="text" name="problem_customer" [(ngModel)]="datacount.problem_customer"></ion-input> -->
      <ion-textarea maxlength="512" rows="2" name="problem_customer" [(ngModel)]="datacount.problem_customer"
        placeholder="กรอกรายละเอียด..." required>
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 10">
      <ion-label position="floating">{{'addlocation.Number_branches' | translate}} : </ion-label>
      <ion-input type="text" name="away_branch" [(ngModel)]="datacount.away_branch"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <span> {{'addlocation.Location_Point' | translate}} </span>
      </ion-label>
      <ion-input type="text" name="location" [(ngModel)]="datacount.location"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 10">
      <ion-label position="floating">{{'addlocation.distance_branch' | translate}} </ion-label>
      <ion-input type="text" name="building_shop" [(ngModel)]="datacount.building_shop"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 25px" *ngIf="datacount.customertype == 6">
      <ion-label>{{'addlocation.Choose_market' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="date_market" [(ngModel)]="datacount.date_market" multiple="true">
        <ion-select-option [value]="'addlocation.all' | translate">{{'addlocation.all' | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Monday' | translate">{{'addlocation.Monday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Tuesday' | translate">{{'addlocation.Tuesday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Wednesday' | translate">{{'addlocation.Wednesday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Thursday' | translate">{{'addlocation.Thursday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Friday' | translate">{{'addlocation.Friday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Saturday' | translate">{{'addlocation.Saturday' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Sunday' | translate">{{'addlocation.Sunday' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>


    <ion-item *ngIf="datacount.customertype == 6">
      <ion-label position="floating">{{'addlocation.Open_time' | translate}}</ion-label>
      <ion-datetime displayFormat="HH:mm " name="peak_time1" [(ngModel)]="datacount.peak_time1"></ion-datetime>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 6">
      <ion-label position="floating">{{'addlocation.Off_time' | translate}}</ion-label>
      <ion-datetime displayFormat="HH:mm " name="peak_time2" [(ngModel)]="datacount.peak_time2"></ion-datetime>
    </ion-item>

    <ion-item style="margin-top: 25px" *ngIf="datacount.customertype == 6">
      <ion-label>{{'addlocation.people_walking' | translate}} :</ion-label>
      <ion-select slot="end" type="text" name="people_walking" [(ngModel)]="datacount.people_walking">
        <ion-select-option [value]="'น้อยกว่า 500'">{{'addlocation.less_than' | translate}} 500
          {{'addlocation.person' | translate}}</ion-select-option>
        <ion-select-option [value]="'500 - 1000'">500 - 1000 {{'addlocation.person' | translate}}</ion-select-option>
        <ion-select-option [value]="'1000 - 3000'">1000 - 3000 {{'addlocation.person' | translate}}</ion-select-option>
        <ion-select-option [value]="'> 3000'">{{'addlocation.more' | translate}} 3000
          {{'addlocation.person' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="datacount.customertype == 7 || datacount.customertype == 8">
      <ion-label position="floating">{{'addlocation.Width_meter' | translate}} : </ion-label>
      <ion-input type="text" name="label_sizewide" [(ngModel)]="datacount.label_sizewide"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 7 || datacount.customertype == 8">
      <ion-label position="floating">{{'addlocation.Length_meter' | translate}} : </ion-label>
      <ion-input type="text" name="label_sizelong" [(ngModel)]="datacount.label_sizelong"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 7">
      <ion-label position="floating">{{'addlocation.number' | translate}} : </ion-label>
      <ion-input type="text" name="count" [(ngModel)]="datacount.count"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 7 || datacount.customertype == 8 || datacount.customertype == 9">
      <ion-label position="floating">{{'addlocation.Contacts' | translate}} : </ion-label>
      <ion-input type="text" name="contacts" [(ngModel)]="datacount.contacts"></ion-input>
    </ion-item>

    <ion-item
      *ngIf="datacount.customertype == 7 || datacount.customertype == 8 || datacount.customertype == 10 || datacount.customertype == 9">
      <ion-label position="floating">{{'addlocation.Tel_number' | translate}} : </ion-label>
      <ion-input type="text" name="telephone" [(ngModel)]="datacount.telephone"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 7 || datacount.customertype == 8 || datacount.customertype == 9">
      <ion-label position="floating">{{'addlocation.Rental_Expense' | translate}} : </ion-label>
      <ion-input type="text" name="rental" [(ngModel)]="datacount.rental"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 8">
      <ion-label position="floating">{{'addlocation.Runway' | translate}} : </ion-label>
      <ion-input type="text" name="runway" [(ngModel)]="datacount.runway"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 8">
      <ion-label position="floating">{{'addlocation.Number_car' | translate}} : </ion-label>
      <ion-input type="text" name="number_car" [(ngModel)]="datacount.number_car"></ion-input>
    </ion-item>





    <ion-item style="margin-top: 25px" *ngIf="datacount.customertype == 2 || datacount.customertype == 10">
      <ion-label>{{'addlocation.Product_Category' | translate}}</ion-label>

      <ion-select slot="end" type="text" name="product_category" [(ngModel)]="datacount.product_category"
        multiple="true" cancelText="'addlocation.Canceled' | translate" okText="'addlocation.OK' | translate">
        <ion-select-option [value]="'addlocation.all' | translate">{{'addlocation.all' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.steel' | translate">{{'addlocation.steel' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Agricultural_PVC' | translate">{{'addlocation.Agricultural_PVC' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Electronics_Electrical' | translate">{{'addlocation.Electronics_Electrical'
              | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Ceramic_sanitary' | translate">{{'addlocation.Ceramic_sanitary'
                  | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Furniture_Doors' | translate">{{'addlocation.Furniture_Doors'
                      | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Aluminum_mirror' | translate">{{'addlocation.Aluminum_mirror'
                          | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Wood_rough' | translate">{{'addlocation.Wood_rough'
                              | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Hardware_tools' | translate">{{'addlocation.Hardware_tools'
                                  | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Home_Appliances' | translate">{{'addlocation.Home_Appliances'
                                      | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 10 ">
      <ion-label position="floating">{{'addlocation.Competitive_strength' | translate}}</ion-label>
      <ion-input type="text" name="competitive" [(ngModel)]="datacount.competitive"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 10 ">
      <ion-label position="floating">{{'addlocation.Competitor_weakness' | translate}}</ion-label>
      <ion-input type="text" name="competitor" [(ngModel)]="datacount.competitor"></ion-input>
    </ion-item>



    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 3 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Open_Credit' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="open_credit" [(ngModel)]="datacount.open_credit">
        <ion-select-option [value]="'addlocation.interested' | translate">{{'addlocation.interested' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.not_care' | translate">{{'addlocation.not_care' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 3 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Credit_line' | translate}}</ion-label>
      <ion-input type="text" name="limit_credit" [(ngModel)]="datacount.limit_credit"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 3 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Open_status' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="credit_status" [(ngModel)]="datacount.credit_status">
        <ion-select-option [value]="'addlocation.Suggest_deposit' | translate">
          {{'addlocation.Suggest_deposit' | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Received_reply' | translate">
          {{'addlocation.Received_reply' | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Approved' | translate">{{'addlocation.Approved' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>
    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Details_survey_construction' | translate}}</ion-label>
      <ion-input type="text" name="details_survey_construction" [(ngModel)]="datacount.details_survey_construction">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Budget' | translate}}</ion-label>
      <ion-input type="text" name="budget" [(ngModel)]="datacount.budget"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2 || datacount.customertype == 5 || datacount.customertype == 16">
      <ion-label position="floating">{{'addlocation.Apply_Banner' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="license_banner" [(ngModel)]="datacount.license_banner">
        <ion-select-option [value]="'addlocation.interested' | translate">{{'addlocation.interested' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.not_care' | translate">{{'addlocation.not_care' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item *ngIf="datacount.customertype == 5 || datacount.customertype == 16">
      <ion-label position="floating">{{'addlocation.Table_Restaurant' | translate}}</ion-label>
      <ion-input type="text" name="count_tables" [(ngModel)]="datacount.count_tables"></ion-input>
    </ion-item>
    <ion-item *ngIf="datacount.customertype == 5 || datacount.customertype == 16">
      <ion-label position="floating">{{'addlocation.Give_gifts' | translate}}</ion-label>
      <ion-input type="text" name="count_toothpick" [(ngModel)]="datacount.count_toothpick"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 2">
      <ion-label position="floating">{{'addlocation.Product_Focus' | translate}}</ion-label>
      <ion-input type="text" name="interested_product" [(ngModel)]="datacount.interested_product"></ion-input>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 9">
      <ion-label position="floating">{{'addlocation.Support_Media' | translate}}</ion-label>
      <ion-input type="text" name="whatsupport" [(ngModel)]="datacount.whatsupport"></ion-input>
    </ion-item>


    <ion-item style="margin-top: 25px"
      *ngIf="datacount.customertype == 1 || datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 12 || datacount.customertype == 17">
      <ion-label>{{'addlocation.Job_description' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="job_description" [(ngModel)]="datacount.job_description">
        <ion-select-option [value]="'addlocation.rebuild' | translate">{{'addlocation.rebuild' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.subjoin' | translate">{{'addlocation.subjoin' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Repair' | translate">{{'addlocation.Repair' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Consumables' | translate">{{'addlocation.Consumables' | translate}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Start_budget' | translate}}</ion-label>
      <ion-datetime displayFormat="MM / YYYY" pickerFormat="MM YYYY" name="startDate" [(ngModel)]="datacount.startDate">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.End_budget' | translate}}</ion-label>
      <ion-datetime displayFormat="MM / YYYY" pickerFormat="MM YYYY" name="endDate" [(ngModel)]="datacount.endDate">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="datacount.customertype == 3 || datacount.customertype == 4 || datacount.customertype == 17">
      <ion-label position="floating">{{'addlocation.Presentation_conditions' | translate}}</ion-label>
      <ion-input type="text" name="presentation_conditions" [(ngModel)]="datacount.presentation_conditions"></ion-input>
    </ion-item>

    <ion-item style="margin-top: 25px"
      *ngIf="datacount.customertype == 1 || datacount.customertype == 12 || datacount.customertype == 14 || datacount.customertype == 15">
      <ion-label>{{'addlocation.Face_value' | translate}} :</ion-label>

      <ion-select slot="end" type="text" name="site_value" [(ngModel)]="datacount.site_value" multiple="true">
        <ion-select-option [value]="'น้อยกว่า 5000,000'"> {{'addlocation.less_than' | translate}} 5 {{'addlocation.hundred_thousand' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'น้อยกว่า 1,000,000'"> {{'addlocation.less_than' | translate}} 1 {{'addlocation.Million_baht' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'น้อยกว่า 2,000,000'"> {{'addlocation.less_than' | translate}} 2 {{'addlocation.Million_baht' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'น้อยกว่า 3,000,000'"> {{'addlocation.less_than' | translate}} 3 {{'addlocation.Million_baht' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'3,000,000 - 10,000,000'">3 - 10 {{'addlocation.Million_baht' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'50,000,000 - 100,000,000'">50 - 100 {{'addlocation.Million_baht' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'>100,000,000'">{{'addlocation.more' | translate}} 100 {{'addlocation.Million_baht' |
                          translate}}</ion-select-option>
      </ion-select>

    </ion-item>

    <ion-item style="margin-top: 25px" *ngIf="datacount.customertype == 13 ">
      <ion-label>{{'addlocation.Face_value' | translate}} :</ion-label>

      <ion-select slot="end" type="text" name="site_value" [(ngModel)]="datacount.site_value" multiple="true">
        <ion-select-option [value]="'น้อยกว่า 3,000,000'"> {{'addlocation.less_than' | translate}} 3 {{'addlocation.Million_baht' |
              translate}}</ion-select-option>
        <ion-select-option [value]="'3,000,000 - 10,000,000'">3 - 10 {{'addlocation.Million_baht' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'50,000,000 - 100,000,000'">50 - 100 {{'addlocation.Million_baht' | translate}}
        </ion-select-option>
        <ion-select-option [value]="' >100,000,000'">{{'addlocation.more' | translate}} 100 {{'addlocation.Million_baht' |
              translate}}</ion-select-option>
      </ion-select>

    </ion-item>



    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Survey_Plans' | translate}} </span>
      </ion-label>
      <!-- <ion-input type="text" name="survey_details" [(ngModel)]="datacount.survey_details" required></ion-input> -->
      <ion-textarea maxlength="512" rows="3" name="survey_details" [(ngModel)]="datacount.survey_details"
        placeholder="กรอกรายละเอียด..." required>
      </ion-textarea>
    </ion-item>

    <ion-item style="margin-top: 25px" *ngIf="datacount.customertype == 10">
      <ion-label>{{'addlocation.Distribution_channels' | translate}}</ion-label>
      <ion-select slot="end" type="text" name="distribution" [(ngModel)]="datacount.distribution" multiple="true">
        <ion-select-option [value]="'addlocation.Retail_Store' | translate">{{'addlocation.Retail_Store' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Project_Contractor' | translate">
          {{'addlocation.Project_Contractor' | translate}}</ion-select-option>
        <ion-select-option [value]="'addlocation.Shop_Range' | translate">{{'addlocation.Shop_Range' | translate}}
        </ion-select-option>
        <ion-select-option [value]="'addlocation.Online' | translate">{{'addlocation.Online' | translate}}
        </ion-select-option>
      </ion-select>

    </ion-item>


    <ion-item style="margin-top: 10px">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Latitude' | translate}} </span>
      </ion-label>
      <ion-input name="latitude" type="text" [(ngModel)]="coords.latitude" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Longitude' | translate}} </span>
      </ion-label>
      <ion-input name="longitude" type="text" [(ngModel)]="coords.longitude" required></ion-input>
    </ion-item>

    <ion-row style="margin-top: 40px;">
      <ion-col class="ion-text-center">
        <ion-button expand="block" class="bg-background" type="submit" [disabled]="!registerForm.form.valid">
          <span class="button-inner">
            <ion-icon name="md-checkbox-outline" style="margin-right: 5px;"></ion-icon>
            {{'addlocation.save_data' | translate}}
          </span>
          <div class="button-effect"></div>
        </ion-button>
      </ion-col>


    </ion-row>

  </form>


  <br />
  <br />
  <div #map id="map"></div>

  <br />
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="bg-background" (click)="showConfirmMap()">
          <ion-icon name="locate"></ion-icon> {{'addlocation.GPS_position_request' | translate}}
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>



  <p style="margin-top: 10px" class="ion-text-center">
    กดปุ่ม GPS ในกรณีที่ท่านต้องการเปิดตำเหน่งที่อยู่ปัจจุบัน
  </p>
  <br />
  <br />
</ion-content>