<ion-header>

  <ion-toolbar color="primary">
    <ion-title>ตระกร้าสินค้า</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalhide()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="sellerid != null">
    <div class="card-content" *ngFor="let detail of items_detail">
      <div class="card-body">
        <h2>เลขที่เอกสาร : {{detail.docuno}}</h2>
        <h2>ชื่อลูกค้า :
          <span *ngIf="detail.customer_name != ''">{{detail.customer_name }}</span>
          <span *ngIf="detail.customer_name == ''"> - </span>
        </h2>
        <p> เบอร์โทร :
          <span *ngIf="detail.mobile != ''">{{detail.mobile }}</span>
          <span *ngIf="detail.mobile == ''"> - </span>
        </p>
        <p>วันที่เอกสาร : {{detail.docudate | date: 'dd/MM/yyyy'}} <span style="font-size: 12px; font-weight:700;
        line-height: 8px;
        color: #fff;
        padding: 1px 3px 1px 3px;
        border-radius: 3px;
        margin-left: 10px;
        background: -webkit-linear-gradient(left, #3cba92, #0ba360);">Time
            : {{detail.savetime | date: 'HH:mm:ss'}}</span>
        </p>

      </div>

    </div>

    <ion-list  *ngIf="pay_status == 0">
    <ion-item lines="none">
      <ion-label style="color: #e13838;">คลิกเลือกเมื่อลูกค้าต้องการขอส่วนลด</ion-label>
      <ion-checkbox (click)="togglecustomers = !togglecustomers"></ion-checkbox>
    </ion-item>

    <ion-item lines="full" *ngIf="togglecustomers">
      <ion-col size=9>
        <ion-label >ใส่ส่วนลด :</ion-label>
        <ion-input name="discount" type="number" [(ngModel)]="datacount.discount"></ion-input>
      </ion-col>
      <ion-col size=3>
        <ion-button expand="block" shape="round" fill="clear" style="background: -webkit-linear-gradient(left, #3cba92, #0ba360);
          color: #ffffff;" (click)="Discount()">
          <ion-icon name="trash" style="margin-right: 5px;"></ion-icon>ขอส่วนลด
        </ion-button>
      </ion-col>
    </ion-item>
  </ion-list>

    <div class="card-content" >
      <div class="card-body" >
        <div *ngIf="pay_status == 0" style="color: red;text-align: center;" (click)="thaiqrCode()">
          <img style="width: 100%;" src="assets/img/thaiqr-logo.jpg" >
          <h2>หมายเหตุ : QR มีอายุการใช้งาน 2 นาที</h2>
          <h2>กรุณาชำระเงินภายในเวลาที่กำหนด</h2>
        </div>
        
        <div *ngIf="pay_status == 1">
          <img style="width: 100%;" src="assets/img/pay.jpg" >
        <!-- <h2>หมายเหตุ : QR มีอายุการใช้งาน 2 นาที</h2>
        <h2>กรุณาชำระเงินภายในเวลาที่กำหนด</h2> -->
        </div>
        

      </div>

    </div>

  </div>


<form id="ts-app-payment-form-redirect"></form>



  <div *ngIf="sellerid == null">
    <ion-row>
      <ion-col>
        <form (ngSubmit)='searchForTerm()'>
          <ion-searchbar type="numeric" mode="ios" (ionInput)="getItems($event)" [debounce]="500"
            placeholder="ค้นหารหัสบัตรประชาชน/เบอร์โทรลูกค้า..."></ion-searchbar>
        </form>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label stacked>ชื่อ-นามสกุล</ion-label>
      <ion-input type="text" name="fullname" [(ngModel)]="datacount.fullname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>เบอร์โทร</ion-label>
      <ion-input type="number" name="mobile" maxlength="10" minlength="10" [(ngModel)]="datacount.mobile"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="datacount.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>หมายเหตุ</ion-label>
      <ion-textarea maxlength="512" rows="3" name="comment" [(ngModel)]="datacount.comment"
        placeholder="กรอกรายละเอียด...">
      </ion-textarea>

    </ion-item>

  </div>


  <!-- <ion-row style="margin-top: 15px;">
    <ion-col size="10">
      <form (ngSubmit)="searchForTerm()">
        <ion-searchbar type="number" name="scanData" [(ngModel)]="product.scanData" placeholder="ค้นหาบาร์โค้ดสินค้า...">
        </ion-searchbar>
      </form>
    </ion-col>
    <ion-col size="2">
      <img item-right src="assets/img/barcode.png" (click)="Scan()" style="margin-top: 10px;" />
    </ion-col>
  </ion-row> -->

  <ion-list *ngIf="sellerid == null">
    <ion-row style="border-bottom: 1px solid #f4f4f4;margin-top: 5px;">
      <ion-col size=8>
        <h6 style="margin-left: 10px;">รายการในตะกร้า</h6>
      </ion-col>
      <ion-col size=4 style="text-align: center;">

        <ion-button expand="block" shape="round" fill="clear" style="background: -webkit-linear-gradient(left, #3cba92, #0ba360);
          color: #ffffff;border-radius: 64px;" (click)="clearAll()">
          <ion-icon name="trash" style="margin-right: 5px;"></ion-icon>ล้างข้อมูล
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-item-sliding *ngFor="let item of cartdata ; let i = index" #slidingItem>
      <ion-item>
        <ion-thumbnail>
          <img [lazyLoad]="item.picturename" [errorImage]="imageToShowOnError" [src]="item.picturename"  >
        </ion-thumbnail>
        <ion-label class="ion-text-wrap" style="padding-left: 10px;">
          <h2 style="font-weight:300;font-size:16px"> {{item.product_name}} </h2>
          <h3 style="color: #0ba360;font-size: 16px;font-weight: 800;">{{item.subtotal | number:'1.2-2'}}</h3>

          <div class="increment_div">
            <ion-row>
              <ion-col size=9 style="padding-left: 0px;">
                <ion-icon name="remove-circle" (click)="sub(item)" style="font-size: 1.3em;color: #0ba360;"></ion-icon>
                <div class="counter_circle" (click)="itemCountProduct(item)">{{item.count}}</div>
                <ion-icon name="add-circle" (click)="add(item)" style="font-size: 1.3em;color: #0ba360;"></ion-icon>
              </ion-col>
              <ion-col size=3 style="text-align: end;">
                <ion-icon name="refresh" style="font-size: 1.5em;color: #3cba92;margin-left: 15px;font-weight: 600;"
                  (click)="refreshItem(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

        </ion-label>

      </ion-item>
      <ion-item-options side="end" (click)="removeItem(i,slidingItem)">
        <ion-item-option color="primary" expandable>
          <ion-icon name="trash"></ion-icon>
          ลบสินค้านี้
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>


  <ion-list *ngIf="sellerid != null">
    <ion-row style="border-bottom: 1px solid #f4f4f4;margin-top: 5px;">
      <ion-col size=8>
        <h6 style="margin-left: 10px;">รายการในตะกร้า</h6>
      </ion-col>
      <ion-col size=4 style="text-align: center;">

        <ion-button expand="block" shape="round" fill="clear" style="background: -webkit-linear-gradient(left, #3cba92, #0ba360);
          color: #ffffff;border-radius: 64px;" (click)="clearAll()">
          <ion-icon name="trash" style="margin-right: 5px;"></ion-icon>ล้างข้อมูล
        </ion-button>

      </ion-col>
    </ion-row>

    <ion-item-sliding *ngFor="let item of cartdata ; let i = index" #slidingItem>
      <ion-item>
        <ion-thumbnail>
          <img [lazyLoad]="item.picturename" [errorImage]="imageToShowOnError" [src]="item.picturename"  >
        </ion-thumbnail>
        <ion-label class="ion-text-wrap" style="padding-left: 10px;">
          <h2 style="font-weight:300;font-size:16px"> {{item.productname}} </h2>
          <h3 style="color: #0ba360;font-size: 16px;font-weight: 800;">{{item.orderamnt | number:'1.2-2'}}</h3>

          <div class="increment_div">
            <ion-row>
              <ion-col size=9 style="padding-left: 0px;">
                <ion-icon name="remove-circle" (click)="subServer(item)" style="font-size: 1.3em;color: #0ba360;"></ion-icon>
                <div class="counter_circle" (click)="itemCountProductServer(item)">{{item.orderqty}}</div>
                <ion-icon name="add-circle" (click)="addServer(item)" style="font-size: 1.3em;color: #0ba360;"></ion-icon>
              </ion-col>
              <ion-col size=3 style="text-align: end;">
                <ion-icon name="refresh" style="font-size: 1.5em;color: #3cba92;margin-left: 15px;font-weight: 600;"
                  (click)="refreshItemServer(item)"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

        </ion-label>

      </ion-item>
      <ion-item-options side="end" (click)="removeItemServer(i,slidingItem)">
        <ion-item-option color="primary" expandable>
          <ion-icon name="trash"></ion-icon>
          ลบสินค้านี้
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


    


  </ion-list>


</ion-content>

<ion-footer no-shadow style="height: 3.5rem;background: #ffffff;">
  <ion-row>
    <ion-col size="8" style="padding: 0px;">

      <p class="checkout-bg-p">รวม: ฿{{total | number:'1.2-2' }} <span *ngIf="discount > 0" style="color: red;">ลด: ฿{{discount}}</span></p>
    </ion-col>

    <ion-col size="4" (click)="checkOut()" style="padding: 0px;" *ngIf="sellerid == null">

      <div class="checkout-bg-inner">
        <div class="checkout-bg default additem">
          <span class="pdp-mod-sbutton-inner">
            <span class="pdp-mod-sbutton-inner">
              สั่งซื้อ
            </span>
          </span>
        </div>
      </div>

    </ion-col>
    <ion-col size="4" (click)="checkOutServer()" style="padding: 0px;" *ngIf="sellerid != null">

      <div class="checkout-bg-inner">
        <div class="checkout-bg default additem">
          <span class="pdp-mod-sbutton-inner">
            <span class="pdp-mod-sbutton-inner">
              ยืนยันสั่งซื้อ
            </span>
          </span>
        </div>
      </div>

    </ion-col>

  </ion-row>


</ion-footer>