
ion-searchbar{

  .button-clear{
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
    color: #ffffff;
  }
  

  .searchbar-input.sc-ion-searchbar-md {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    background-position: left 8px center;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }

}

/* .sc-ion-searchbar-md-h {
    padding: 6px 55px;
    border-radius: 20px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  } */

  .item-label-stacked .text-input {
    margin-left: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    width: calc(100% - 8px);
  }

  .label[stacked] {
    font-size: 1.5rem;
    margin-top: 7px;
  }

  .increment_div {
    padding-top: 5px;

    button {
      background: none;
      border: none;
      display: inline-block;
      color: #707070;
      font-size: 25px;
    }

    .counter_circle {
      /*  width: 30px;
      height: 30px; */
      //border: 2px solid #707070;
      color: #0ba360;
      display: inline-block;
      //border-radius: 50%;
      // padding: 5px;
      width: auto;
      height: auto;
      padding-right: 10px;
      padding-left: 10px;
      font-weight: 600;
      text-align: center;
      font-size: 20px;
    }
  }

  .setpadding {
    width: 90%;
    height: 320px;
    top: 20%;
    left: 5%;
    position: absolute;
    box-shadow: 1px 20px 20px -14px rgba(0, 0, 0, 0.25);
  }

  /* .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 4.6rem;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase;

  } */

  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    // text-align: center;
  }

  .text-input-ios {
    margin: 13px 8px;
    padding: 0;
    width: calc(100% - 8px - 8px);
    // text-align: center;
  }



  .card-login {
    /*  margin-top: 25%; */
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }


  /* Circle Avatar Styles */

  .circle {
    text-align: center;
    line-height: 0;
    /* remove line-height */
    display: inline-block;
    /* circle wraps image */
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    /* relative value */
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
    transition: linear 0.25s;
    width: 100%;
    height: auto;
  }

  .circle img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    /* relative value for
                  adjustable image size */
  }

  .circle:hover {
    transition: ease-out 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: ease-out 0.2s;
  }

  a.circle {
    color: transparent;
  }

  /* IE fix: removes blue border */

  .item-md ion-thumbnail {
    min-width: 60px;
    min-height: 20px;
  }

  .item-ios ion-thumbnail {
    min-width: 60px;
    min-height: 20px;
  }

  .item .item-button {
    /* padding: 0 0.6em; */
    height: 25px;
    font-size: 1.5rem;
    padding-right: 0px;
  }


  //Clear All
  .fashion_header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h6 {
      padding: 0px;
      margin: 0px;
      float: left;
      color: #646464;
      text-transform: uppercase;
      padding: 8px;
    }
    ion-button{
        
            float: right;
            color: #fff;
            height: 30px;
            border-radius: 20px;
            padding-left: 15px;
            padding-right: 15px;
            //background: -webkit-linear-gradient(left, #3cba92, #0ba360);
            font-size: 0.5rem;
         

    }
    

    .seeall_blue {
      background: #1f5282;
    }
  }




  //Footter
  .checkout-bg-p {
    text-align: left;
    padding-left: 20px;
    color: #0ba360;
    font-weight: bold;
    //font-size: 1.1rem;
    //margin: 15px;

  }

  .checkout-bg {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    text-align: center;
    height: 3.5rem;
    background: -webkit-linear-gradient(left, #ff9f36, #ff6700);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

  }

  .checkout-bg.now {
    background: -webkit-linear-gradient(left, #ffd600 , #ffc400 );
  }

  .checkout-bg.additem {
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
  }

  .checkout-bg-inner {

    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);

  }

  .pdp-mod-sbutton-inner {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    color: #fff;
    font-size: 1rem;
    line-height: .4rem;
    margin: 0 .1rem;
  }

  //addToCart
  .cart-num.normal-num {
    width: 18px;
    top: -3px;
  }

  .cart-num {
    background: #ffffff;
    color: #0ba360;
    border-radius: .625rem;
    height: 1.4rem;
    position: absolute;
    left: 70%;
    top: -.3125rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding: .125rem .3125rem;
    text-align: center;
  }

  //remove-item
  .remove-item {
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
  }

  .button-bg{
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);

  }


  .card-content {

    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    margin: 10px;
    padding: 10px;

    .card-body{
      h2{
        margin-top: 0.5rem;
        margin-bottom: 5px;
        font-size: 16px;
      }
      p{
        margin-top: 0.5rem;
        margin-bottom: 5px;
        font-size: 16px;
      }
    }

    

    .inner_result {
      position: relative;
      //height: 160px;
      padding: 0px;
      text-align: center;

      ._2tmNDt {
          position: absolute;
          top: 0;
          right: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          .badge-text {
              margin-left: .25rem;
              -webkit-box-flex: 0;
              -webkit-flex: 0;
              -moz-box-flex: 0;
              -ms-flex: 0;
              flex: 0;
          }
          .badge-text--promotion {
              background-color: #fcd511;
              .badge-text__text {
                  width: 4rem;
                  height: 4rem;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -webkit-align-items: center;
                  -moz-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  -webkit-justify-content: center;
                  -moz-box-pack: center;
                  -ms-flex-pack: center;
                  justify-content: center;
                  position: relative;
                  background-color: inherit;

                  .badge__promotion {
                      white-space: normal;
                      color: #ee4d2d;
                      text-align: center;
                      font-weight: 600;
                      .badge__promotion-off {
                          color: #fff;
                      }
                      
                  }
              }
              .badge-text__text:after {
                  content: "";
                  width: 0;
                  height: 0;
                  left: 0;
                  bottom: -.45rem;
                  border-style: solid;
                  position: absolute;
                  border-width: 0 2rem .45rem;
                  border-color: transparent #fcd511;
              }

              
          }
      }

      img {
        //height: 130px;
        width: auto;
      }

      .fav_circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
       // background: url("../assets/imgs/heart.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
      }

      .fav {
        background-color: #da1c5c;
      }

      .not_fav {
        background-color: #dcdcdc;
      }
    }

    .item-desc {
      padding: .08rem .08rem .07rem;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .item-title {
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      color: #404040;
      overflow: hidden;
      margin-top: .04rem;
    }

    .item-price-promotion {
      line-height: .21rem;
      height: .21rem;
      font-size: 16px;
      color: #f57224;
    }

    .item-price-original {
      line-height: .11rem;
      height: .11rem;
      color: #9e9e9e;
      font-size: 12px;
    }

  }