

<ion-app>
  <ion-split-pane >
    <ion-menu >
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content>
        <ion-list style="margin-top: 25px;margin-bottom: 5px;">
          <ion-row  justify-content-center>
            <img class="center" alt="" height="80px" src="assets/img/logo01.png"  class="ion-text-center" />
          </ion-row>

        </ion-list>
        <ion-grid style="margin-bottom: 20px">

        </ion-grid>

        <ion-list-header style="margin-bottom: 0px;">
          เมนูรายงาน
        </ion-list-header>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list-header style="margin-bottom: 0px;">
          ล็อคเอ้าท์
        </ion-list-header>

        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->

      </ion-content>

      <ion-footer style="margin: -1px 0 0px;height: 40px;">
        <ion-row>
          <ion-col size="3" style="display: flex; 
          align-items: center;
          padding-left: 10px; ">
            <ion-icon name="ios-log-out" style="display: inline-block;
              color: #16a085;font-size: xx-large;font-weight: bolder;" (click)="showConfirm()"></ion-icon>
          </ion-col>
          <ion-col  size="9" >
            <p style="    text-align: right;
            color: #16a085;
            font-size: 16px;
            font-weight: bolder;
            margin-top: 5px;
            margin-bottom: 0px;
            margin-right: 5px;">V. {{version_app}}</p>
          </ion-col>
        </ion-row>
      </ion-footer>

      
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>