<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">ป้อนเข็มไมล์ปิด</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row style="margin-top: 5px">
    <ion-col size=2>
    </ion-col>
    <ion-col size=8 class="ion-text-center">

      <img style="width: 100%;" src="{{linkimg}}{{survey_imgmile}}" *ngIf="survey_imgmile != null" ionImgViewer>
      <img style="width: 100%;" src="assets/No_Image.jpg" *ngIf="survey_imgmile == null ">
    </ion-col>
    <ion-col size=2>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px">
    <ion-col size=2>
    </ion-col>
    <ion-col size=8>
      <ion-button expand="block" class="bg-background" (click)="presentActionSheet()" icon-left>
        <ion-icon name="speedometer"></ion-icon> ถ่ายรูปเข็มไมล์
      </ion-button>
    </ion-col>
    <ion-col size=2>
    </ion-col>
  </ion-row>
  <br />

  <form (ngSubmit)="showConfirm()" #registerForm="ngForm" style="margin-top: 15px">
    <ion-item>
      <ion-label>{{'endbill.Miles_starting' | translate}} :</ion-label>
      <ion-input type="number" name="poquantitystart" [(ngModel)]="datacount.poquantitystart"></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-label>{{'endbill.Endless_miles' | translate}} :</ion-label>
      <ion-input type="number" name="poquantity" [(ngModel)]="datacount.poquantity" required
        (ionChange)="onSelectChange($event)"></ion-input>
    </ion-item>
    <br />
    <br />
    <h4 class="ion-text-center">{{'endbill.Calculate_traveled' | translate}}</h4>
    <ion-item>
      <ion-input class="ion-text-center" type="number" name="sumpoquantity" [(ngModel)]="sumpoquantity">
      </ion-input>
    </ion-item>
    <br />
    <ion-row style="margin-top: 5px;">
      <ion-col class="ion-text-center">
        <ion-button expand="block" class="bg-background" type="submit" [disabled]="!registerForm.form.valid">
          <ion-icon name="speedometer" style="margin-right: 5px;"></ion-icon>
          {{'endbill.save_data' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <br />
  <br />
  <p>
    <!-- Please remember to replace the server api link in the home.ts file for making it compatible with the example. -->
  </p>

</ion-content>