<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">เลือกสาขา?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalhide()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหาสาขา..."></ion-searchbar>

  <ion-list style="margin-top: 15px;text-align: center;" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>

  <ion-list style="margin-bottom: 100px;">


    <ion-item lines="full" *ngFor="let item of items" (click)="clickToHome(item)">

      <ion-icon slot="icon-only" name="pin" slot="start" style="color: #ff4c4c;
          font-size: 1.75rem;
          margin-right: 10px;"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #262626;">สาขา : {{item.branchname}}</h2>
        <h3 style="color: #262626;">รหัสสาขา : {{item.branchcode}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>


  <br>
  <br>
  <br>
  <br>


</ion-content>