<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">เอกสาร</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <!-- <div *ngIf="types_tatus != 2">
    <div class="result_wrapper">
      <ion-row>
   
        <ion-col size=6>
          <div class="card-content" (click)="gotoScanOrderProduct()">
            <div class="inner_result">
              <img src="assets/img/scanproductorder.png"
                style="border-radius: 10%;border-radius: 10%;margin-top: 20px;max-width: 30%;">
            </div>
            <div class="card-body">
              <h5>เมนูแนะนำสั่งสินค้า</h5>
              <p>เมนูแนะนำสั่งสินค้าสต๊อคพอขาย 1 เดือน</p>
            </div>
          </div>
        </ion-col>


        <ion-col size=6>
          <div class="card-content" (click)="gotoScanOrderProductKH()">
            <div class="inner_result">
              <img src="assets/img/scanproductorder.png"
                style="border-radius: 10%;border-radius: 10%;margin-top: 20px;max-width: 30%;">
            </div>
            <div class="card-body">
              <h5>รายงานแนะนำสั่งสินค้า (KH)</h5>
              <p>รายงานเมนูแนะนำสั่งสินค้าของพนักงาน</p>
            </div>
          </div>
        </ion-col>

      </ion-row>

    </div> -->

  


  <ion-card style="padding-top: 20px;padding-bottom: 20px;" (click)="itemNameteam()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/DoList.png" style="border-radius: 10%;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #0ba360;font-weight: bold;font-size: 14px;">ตั้งชื่อทีม : {{team_name}}</h2>
        <p>รายชื่อทีมที่ออกสำรวจฯ</p>
      </ion-label>
      <ion-spinner name="dots" *ngIf="isShown"></ion-spinner>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="team_name == null && !isShown ">
       ไม่ครบ
      </ion-badge>
      <ion-badge slot="end" *ngIf="team_name != null ">ครบ</ion-badge>
    </ion-item>
  </ion-card>


  <ion-card style="padding-top: 20px;padding-bottom: 20px;" (click)="itemMile1()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/speedometer.png" style="border-radius: 10%;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #0ba360;font-weight: bold;font-size: 14px;">ป้อนเข็มไมล์ออก</h2>
        <p>ให้ทำการป้อนเข็มไมล์ออกและทะเบียนรถ.</p>
      </ion-label>
      <ion-spinner name="dots" *ngIf="isShown"></ion-spinner>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="speedometer == null && !isShown ">
        ไม่ครบ
      </ion-badge>
      <ion-badge slot="end" *ngIf="speedometer != null ">ครบ</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card style="padding-top: 20px;padding-bottom: 20px;" (click)="itemListlocation()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/location.png" style="border-radius: 10%;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #0ba360;font-weight: bold;font-size: 14px;">สำรวจสถานที่</h2>
        <p>เลือกสำรวจสถานที่</p>
      </ion-label>
      <ion-spinner name="dots" *ngIf="isShown"></ion-spinner>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="count_id == 0 && !isShown ">
        0 ครั้ง
      </ion-badge>
      <ion-badge slot="end" *ngIf="count_id != 0 ">{{count_id}} ครั้ง</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card style="padding-top: 20px;padding-bottom: 20px;" (click)="itemListGlobalclub()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/globalclub.png" style="border-radius: 10%;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #0ba360;font-weight: bold;font-size: 14px;">สมัครสมาชิกโกลบอลคลับ</h2>
        <p>ลูกค้าต้องการสมัครสมาชิกโกลบอลคลับ</p>
      </ion-label>
      <ion-spinner name="dots" *ngIf="isShown"></ion-spinner>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="gbh_customer_id == 0 && !isShown ">
        0 คน
      </ion-badge>
      <ion-badge slot="end" *ngIf="gbh_customer_id != 0 ">{{gbh_customer_id}} คน</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card style="padding-top: 20px;padding-bottom: 20px;" (click)="itemMile2()">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/img/speedometer.png" style="border-radius: 10%;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2 style="color: #0ba360;font-weight: bold;font-size: 14px;">ป้อนเข็มไมล์ปิด</h2>
        <p>ให้ทำการป้อมเข็มไมล์ปิดสำรวจ</p>
      </ion-label>
      <ion-spinner name="dots" *ngIf="isShown"></ion-spinner>
      <ion-badge slot="end" style="background: #ffd31a;color: #424242;" *ngIf="speedometer2 == null && !isShown ">
       ไม่ครบ
      </ion-badge>
      <ion-badge slot="end" *ngIf="speedometer2 != null ">ครบ</ion-badge>
    </ion-item>
  </ion-card>

  <!-- <ion-list class="ion-text-center" *ngIf="isShown">
    <ion-spinner name="dots"></ion-spinner>
  </ion-list> -->


  <br />
  <br />
  <br />
  <br />



</ion-content>