
	.logo {
		margin-top: 15vh;
		width: 30vw;
	}

	.setup-title {
		margin-top: 12vh;
		font-size: 1.5em;
		color: #fff;
	}

	.setup-content1, .setup-content2{
		margin-top: 3vh;
		white-space: normal;
		padding: 0 30px 0 30px;
		color: #fff;
	}

	.setup-btn {
		bottom: 15px;
		position: fixed;
		right: 5%;
		width: 90%;
	}

	ion-card {
		position: relative;
		text-align: center;
	  }
	
	  ion-card .card-title {
		position: absolute;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #fff;
	  }
	
	  ion-card .card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
		color: #fff;
	  }


	  ion-card {
		border-radius: 3px;
		-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		background: #fff;
		position: relative;
		text-decoration: none;
		vertical-align: top;
	}




	  // Card
	  .result_wrapper {
		width: 100%;
		padding: 5px;
	
		.row {
		  width: 100%;
		}
	
		ul {
		  margin: 0px;
		  padding: 0px;
	
		  li {
			list-style: none;
			width: calc(100% - 51%);
			display: inline-block;
	
			.inner_result {
			  position: relative;
			  height: 160px;
			  background: #f5f5f5;
			  padding: 0px;
			  text-align: center;
	
			  img {
				height: 130px;
				width: auto;
			  }
	
			  .fav_circle {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				position: absolute;
				top: 10px;
				left: 10px;
				//background: url("../assets/imgs/heart.png");
				background-position: center;
				background-repeat: no-repeat;
				background-size: 12px;
			  }
	
			  .fav {
				background-color: #ff350e;
			  }
	
			  .not_fav {
				background-color: #dcdcdc;
			  }
			}
	
			h5 {
			  text-align: center;
			  margin: 0px;
			  padding: 0px;
			  color: #575757;
			  padding-top: 10px;
			  font-weight: 400;
			  text-align: left;
			}
	
			p {
			  text-align: center;
			  margin: 0px;
			  padding: 0px;
			  color: #575757;
			  font-weight: 400;
			  font-size: 16px;
			  text-align: left;
			  padding-bottom: 15px;
	
			  strong {
				color: #a3a3a3;
				font-weight: 300;
				padding-left: 5px;
				text-decoration: line-through;
				margin-right: 5px;
			  }
			}
		  }
		}
	
		//Clear All
		.fashion_header {
		  width: 100%;
		  padding-top: 10px;
		  padding-bottom: 10px;
	
		  h6 {
			padding: 0px;
			margin: 0px;
			float: left;
			color: #646464;
			text-transform: uppercase;
			padding: 8px;
		  }
	
		  .seeall {
			float: right;
			color: #fff;
			height: 25px;
			border-radius: 20px;
			padding-left: 15px;
			padding-right: 15px;
			text-transform: capitalize;
			font-size: 2rem;
		  }
	
		  .seeall_pink {
			background: -webkit-linear-gradient(left, #ff8763, #ff330c);
			font-size: 1.2rem;
			margin-right: 10px;
		  }
	
		  .seeall_blue {
			background: #1f5282;
		  }
		}
	
		.card-content {
	
		  border-radius: 3px;
		  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		  background: #fff;
		  position: relative;
		  text-decoration: none;
		  vertical-align: top;
	
	
	
		  .inner_result {
			position: relative;
			//height: 160px;
			padding: 0px;
			text-align: center;
	
			._2tmNDt {
			  position: absolute;
			  top: 0;
			  right: 0;
			  display: -webkit-box;
			  display: -webkit-flex;
			  display: -moz-box;
			  display: -ms-flexbox;
			  display: flex;
	
			  .badge-text {
				margin-left: .25rem;
				-webkit-box-flex: 0;
				-webkit-flex: 0;
				-moz-box-flex: 0;
				-ms-flex: 0;
				flex: 0;
			  }
	
			  .badge-text--promotion {
				background-color: #fcd511;
	
				.badge-text__text {
				  width: 4rem;
				  height: 4rem;
				  display: -webkit-box;
				  display: -webkit-flex;
				  display: -moz-box;
				  display: -ms-flexbox;
				  display: flex;
				  -webkit-box-align: center;
				  -webkit-align-items: center;
				  -moz-box-align: center;
				  -ms-flex-align: center;
				  align-items: center;
				  -webkit-box-pack: center;
				  -webkit-justify-content: center;
				  -moz-box-pack: center;
				  -ms-flex-pack: center;
				  justify-content: center;
				  position: relative;
				  background-color: inherit;
	
				  .badge__promotion {
					white-space: normal;
					color: #ee4d2d;
					text-align: center;
					font-weight: 600;
	
					.badge__promotion-off {
					  color: #fff;
					}
	
				  }
				}
	
				.badge-text__text:after {
				  content: "";
				  width: 0;
				  height: 0;
				  left: 0;
				  bottom: -.45rem;
				  border-style: solid;
				  position: absolute;
				  border-width: 0 2rem .45rem;
				  border-color: transparent #fcd511;
				}
	
	
			  }
			}
	
			img {
			  //height: 130px;
			  width: auto;
			}
	
			.fav_circle {
			  width: 30px;
			  height: 30px;
			  border-radius: 50%;
			  position: absolute;
			  top: 10px;
			  left: 10px;
			  //background: url("../assets/imgs/heart.png");
			  background-position: center;
			  background-repeat: no-repeat;
			  background-size: 12px;
			}
	
			.fav {
			  background-color: #ff350e;
			}
	
			.not_fav {
			  background-color: #dcdcdc;
			}
		  }
	
		  .item-desc {
			padding: .08rem .08rem .07rem;
			background: #fff;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		  }
	
		  .item-title {
			position: relative;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-size: 12px;
			color: #404040;
			overflow: hidden;
			margin-top: .04rem;
		  }
	
		  .item-price-promotion {
			line-height: .21rem;
			height: .21rem;
			font-size: 16px;
			color: #f57224;
		  }
	
		  .item-price-original {
			line-height: .11rem;
			height: .11rem;
			color: #9e9e9e;
			font-size: 12px;
		  }
	
		}
	
		.card-body {
		  flex: 1 1 auto;
		  padding-left: 10px;
		  padding-right: 10px;
	
		  h5 {
	
			position: relative;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			color: #0ba360;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			/* padding-bottom: 5px; */
		  }
	
		  p {
			text-align: center;
			margin: 0px;
			padding: 0px;
			color: #5a5a5a;
			/* font-weight: bold; */
			font-size: 14px;
			text-align: left;
			padding-bottom: 5px;
	
			strong {
			  color: #a3a3a3;
			  font-weight: 300;
			  padding-left: 5px;
			  text-decoration: line-through;
			  margin-right: 5px;
			}
		  }
		}
	  }