
.bg-background{
    //display: inline-block;
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    ion-col{
      padding: 15px;
    }
    .table {
      border: solid 1px #f4f4f4;
      border-top-style: none;
      border-bottom-style: none;
      border-right-style: none;
    }
  }

  .bg-detailtable{
    font-size: 0.9rem;
    .table {
        border: solid 1px #f4f4f4;
        //border-bottom-style: none;
        border-top-style: none;
        border-right-style: none;
        //border-left-style: none;
        
      }
  }

  .itemto {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
    padding-right: 32px;
    background-position: right 14px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
  .stlytext{
    font-family: "MyFont";
    color: #E65100;
    font-weight: 600;
  }

  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    right: 2px;
    margin-top: 3px;
    font-size: x-large;
}