<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      อัพโหลดกองโปรฯ
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> -->


  <!--  <ion-grid>
    <ion-list style="margin-bottom: 0px;"  class="ion-text-center">
      <h4 style="margin-bottom: 0px;margin-top: 5px;">เลขที่เอกสาร : {{handh_docuno}}</h4>
    </ion-list>
  </ion-grid> -->

  <ion-row style="margin-top: 5px;">
    <ion-col size="10">
      <form (ngSubmit)="searchForTerm()">
        <ion-searchbar type="text" name="scanData" [(ngModel)]="product.scanData" placeholder="ค้นหาบาร์โค้ด...">
        </ion-searchbar>
      </form>
    </ion-col>
    <ion-col size="2">
      <img src="assets/img/barcode.png" (click)="scanbar()" style="margin-top: 10px;" />
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="ion-text-center">
      <h4>รูปสินค้า</h4>
    </ion-col>
  </ion-row>


  <ion-row style="margin-top: 5px" [hidden]="itemsimg.length > 0 || photos.length > 0">
    <ion-col class="ion-text-center">
        <img src="assets/No_Image.jpg"  />
    </ion-col>
  </ion-row>

  <ion-grid>
    <div *ngFor="let image of itemsimg; let i = index;">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size=6 *ngIf="i < itemsimg.length">
          <ion-card class="block">
             <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(itemsimg[i].running_id)"></ion-icon>
           <!--  <img [src]="imglink+itemsimg[i].name_img" /> -->
            <img [lazyLoad]="imglink+itemsimg[i].name_img" [errorImage]="imageToShowOnError" [src]="imglink+itemsimg[i].name_img" ionImgViewer>
          </ion-card>
        </ion-col>
        <ion-col size=6 *ngIf="i+1 < itemsimg.length">
          <ion-card class="block">
             <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(itemsimg[i+1].running_id)"></ion-icon>
            <!-- <img [src]="imglink+itemsimg[i+1].name_img" /> -->
            <img [lazyLoad]="imglink+itemsimg[i+1].name_img" [errorImage]="imageToShowOnError" [src]="imglink+itemsimg[i+1].name_img" ionImgViewer>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="photos.length > 0">
    <ion-row>
      <ion-col size=6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row style="margin-bottom: 10px;">
    <ion-col class="ion-text-center">
      <p class="ion-text-center" style="color: red;margin-top: 0px;margin-bottom: 0px;">* กรุณาถ่ายรูปปก</p>
      <ion-button color="danger" (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon> ถ่ายรูปหน้าปก
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list class="ion-text-center" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>


  <!-- <ion-list style="margin-bottom: 0px;"  class="ion-text-center">
     <ion-item style="margin: 0px;">
      จำนวนสินค้าทั้งหมด/นับแล้ว : <span style="color: #e6223d;font-weight: bold;margin-left: 10px;">  {{itemslength2}}</span>/<span style="color: #0ba360;font-weight: bold;">  {{countlength}}</span>
    </ion-item>
    <ion-item style="margin: 0px;">
      จำนวนที่นับตามเปอร์เซ็น : <span style="color: #e67e22;font-weight: bold;margin-left: 10px;">  {{(countlength/itemslength2)*100 | number:'1.0-0'}}%</span>
    </ion-item>
  </ion-list> -->


  <ion-item>
    <ion-label class="stlytext">ประเภทกองโปรฯ :</ion-label>
    <ion-select name="typekong" [(ngModel)]="typekong" okText="ตกลง" cancelText="ยกเลิก" >
      <ion-select-option value="1">ถ่ายรูปกองโปรฯ</ion-select-option>
      <ion-select-option value="2">Weekly Events</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label class="stlytext">เลือกกองโปรฯ :</ion-label>
    <ion-select name="cate" [(ngModel)]="cate" okText="ตกลง" cancelText="ยกเลิก" (ionChange)="optionsFnCat()">
      <ion-select-option *ngFor="let item of postscat" value="{{item.cate_id}}">{{item.cate_name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="stlytext">เลือกเลขที่เอกสาร :</ion-label>
    <ion-select name="selectdocuno" [(ngModel)]="selectdocuno" okText="ตกลง" cancelText="ยกเลิก">
      <ion-select-option *ngFor="let item of postsbox" value="{{item.docuno}}">
        <span>{{item.docuno}}</span>
        <span style="color: #c5493c;">({{item.dateadd}}) </span>
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item (click)="openModal()" class="itemto">
    <ion-label class="stlytext">เลือก Box ที่ : {{datacount.box_id}} / {{datacount.remark}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label stacked class="stlytext">หมายเหตุ :</ion-label>
    <ion-textarea maxlength="225" rows="4" name="reason" [(ngModel)]="reason" placeholder="กรอกรายละเอียด..." required>
    </ion-textarea>
  </ion-item>

  <ion-row style="margin-top: 10px;">
    <ion-col class="ion-text-center">
      <ion-button expand="full" color="primary" class="bg-background" (click)="showConfirm()"><span
          class="button-inner">
          <ion-icon name="bookmarks"></ion-icon>
          บันทึกข้อมูล
        </span>
        <div class="button-effect"></div>
      </ion-button>

      <!--  <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button> -->
    </ion-col>
  </ion-row>


  <br>
  <br>
  <br>
  <br>
  <br>



</ion-content>