<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      รายการหมวดหมู่สินค้า
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orderhome"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addcartnow()">
        <ion-icon name="cart"></ion-icon>
        <span class="cart-num normal-num">{{itemcount}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row style="margin: 0px;background: #16a085;">
    <ion-col size=12 style="margin: 0px;">
      <form (ngSubmit)="search()">
        <ion-searchbar name="scanData" [(ngModel)]="input" debounce=500 placeholder="ค้นหาสินค้า..."
          style="padding: 0px;">
        </ion-searchbar>
      </form>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>

<div *ngIf="pageid == 1">
  <ion-item>
    <h4 style="color: #0ba360;font-weight: bold;font-size: 18px;">{{product_category_name}}</h4>
  </ion-item>

  <ion-item>
    <ion-label>
      <span style="color: #0ba360;font-weight: bold;font-size: 16px;">กลุ่มสินค้า : </span>
    </ion-label>

    <ion-select slot="end" type="text" name="group" [(ngModel)]="group" cancelText="ยกเลิก" okText="ตกลง"
      (ionChange)="selectpattern()">
      <ng-container *ngFor="let item of items_group">
        <ion-select-option [value]="item.product_group_id">
          {{item.product_group_name}}
        </ion-select-option>
      </ng-container>
    </ion-select>

  </ion-item>
  <ion-item>
    <ion-label>
      <span style="color: #0ba360;font-weight: bold;font-size: 16px;">รูปแบบสินค้า : </span>
    </ion-label>

    <ion-select slot="end" type="text" name="pattern" [(ngModel)]="pattern" cancelText="ยกเลิก" okText="ตกลง">
      <ng-container *ngFor="let item of items_pattern">
        <ion-select-option [value]="item.product_pattern_id">
          {{item.product_pattern_name}}
        </ion-select-option>
      </ng-container>
    </ion-select>

  </ion-item>

  <ion-row style="margin-top: 15px;">
    <ion-col>
      <ion-button  expand="block"  (click)="searchproductgroup()"><span class="button-inner">
          <ion-icon ios="ios-search" md="md-search"></ion-icon>
          ค้นหาสินค้า
        </span>
      </ion-button>
    </ion-col>
  </ion-row>

</div>

  <div class="result_wrapper">
    <ion-row>
      <!-- Column -->
      <ion-col size=6 *ngFor="let item of items">
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <!-- <div class="fav_circle fav"></div> -->
            <img [lazyLoad]="item.picturename" [errorImage]="imageToShowOnError" [src]="item.picturename"
              class="_1T9dHf">

            <div class="_2tmNDt" *ngIf="item.pro_price > 0 ">
              <div class="badge-text badge-text--promotion">
                <div class="badge-text__text">
                  <div class="badge__promotion">{{((item.product_price1-item.pro_price)/item.product_price1)*100 |
                    number:'0.0-0'}}%
                    <div class="badge__promotion-off">ลด</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5>{{item.barcode_bill_name}}</h5>
            <!--  <p *ngIf="item.pro_price > 0 "><strong>฿{{item.product_price1 | number:'1.2-2'}}</strong>฿{{item.pro_price
              | number:'1.2-2'}}</p>
            <p [hidden]="item.pro_price > 0 ">฿{{item.product_price1 | number:'1.2-2'}}</p> -->
          </div>

        </div>
      </ion-col>

      <!-- Column -->
    </ion-row>

  </div>

  <!-- Skeleton screen -->
  <div class="result_wrapper" *ngIf="items == null">

    <ion-row>
      <!-- Column -->
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>

      <!-- Column -->
    </ion-row>


    <ion-row>
      <!-- Column -->
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>

      <!-- Column -->
    </ion-row>


    <ion-row>
      <!-- Column -->
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>
      <ion-col size=6>
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result">
            <ion-thumbnail slot="start" style="width: 100%;height: 180px;">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>

          </div>
          <div class="card-body">
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </div>

        </div>
      </ion-col>

      <!-- Column -->
    </ion-row>

  </div>

</ion-content>