<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      รายงานสำรวจราคาสินค้า
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>


  <!-- <ion-list style="margin-top: 15px;margin-bottom: 0px;">
    <form (ngSubmit)="presentConfirm()" #loginForm="ngForm">
      <ion-item>
        <ion-label>เลือกวันที่เริ่ม :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="datefirst"
          [(ngModel)]="datacount.datefirst"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>เลือกวันที่สิ้นสุด :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="dateend"
          [(ngModel)]="datacount.dateend"></ion-datetime>
      </ion-item>

      <ion-row style="margin-top: 5px;">
        <ion-col text-center>
          <ion-button expand="full" class="bg-background" type="submit" icon-left="" ion-button="" round=""
            type="submit" style="margin-top: 30px;">ค้นหา</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-list> -->


  <ion-list style="margin-top: 15px;text-align: center;" *ngIf="isShown">
      <!-- Bubbles -->
      <ion-spinner name="dots"></ion-spinner>
  </ion-list>

  <ion-grid style="margin-top: 10px;padding: 5px;" class="scrolling-wrapper"  *ngIf="items">

      <ion-row class="scroll-header" nowrap>
        <ion-col size="4" class="table">
          ชื่อสินค้า
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center;">
          ร้านคู่แข่ง
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center;">
          ราคาคู่แข่ง
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center;">
          ราคาร้าน
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center;">
          วันที่บันทึก
        </ion-col>
        <ion-col size="4" class="table" style="text-align: center;">
          รายละเอียด
        </ion-col>

      </ion-row>
      <ion-row *ngFor="let item of items " class="scroll-row" nowrap>
        <ion-col size="4" class="table" style="text-align: left;">
          {{item.product_name}}
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center; color: #0ba360;">
          {{item.rival_name}}
        </ion-col>
        <ion-col size="3" class="table" style="text-align: right;">
          <span style="font-size: 12px; font-weight:700;
          line-height: 8px;
          color: #fff;
          padding: 1px 3px 1px 3px;
          border-radius: 3px;
          background: -webkit-linear-gradient(left, #3cba92, #0ba360)"
            *ngIf="item.product_price_instore  <= item.product_price ">{{item.product_price | number:'1.2-2' }}</span>
          <span style="font-size: 12px; font-weight:700;
          line-height: 8px;
          color: #fff;
          padding: 1px 3px 1px 3px;
          border-radius: 3px;
          background: -webkit-linear-gradient(left, #ff8763, #ff330c);"
            *ngIf="item.product_price_instore > item.product_price ">{{item.product_price | number:'1.2-2' }}</span>

        </ion-col>
        <ion-col size="3" class="table" style="text-align: right;color: #0ba360;">
          {{item.product_price_instore | number:'1.2-2' }}
        </ion-col>
        <ion-col size="3" class="table" style="text-align: center;">
          {{item.savetime | date:'yyyy/MM/dd' }}
        </ion-col>
        <ion-col size="4" class="table" style="text-align: center;">
          {{item.description }}
        </ion-col>
      </ion-row>

  </ion-grid>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>