
ion-spinner {
  transform: scale(2);
}
.scrolling-wrapper {
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    //height:100%;
    font-size:0.9em;
    font-weight:400;
    padding: 0px;

    ::-webkit-scrollbar{
      display:none;
    }
  
  .scroll-row {
    //display: inline-block;

    ion-col {
      padding: 5px;
    }

    .table {
      border: solid 1px #f4f4f4;
      //border-bottom-style: none;
      border-top-style: none;
      border-right-style: none;
      //border-left-style: none;

    }
  }

  .scroll-header {
    //display: inline-block;
    //background: -webkit-linear-gradient(left, #3cba92, #0ba360);
    color: #ffffff;
    ion-col {
      padding: 10px;
      background:  #0ba360;
    }

    .table {
      border: solid 1px #f4f4f4;
      //border-bottom-style: none;
      border-top-style: none;
      border-right-style: none;
      //border-left-style: none;

    }
  }

}

.bg-background {
  background: -webkit-linear-gradient(left, #3cba92, #0ba360);



}