<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">ลงทะเบียนรถยนต์?</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="end" name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content >

  <p class="ion-text-center" style="color: red;margin-top: 15px;margin-bottom: 10px;">* คลิ้กเพิ่ม เมื่อต้องการเพิ่มทะเบียนรถยนต์ใหม่.
  </p>
  <ion-item (click)='fntogglecusnew()' color="light">
    <ion-icon color="primary" style="font-size: xx-large;" name="add" *ngIf="togglecusnew == false"></ion-icon>
    <ion-icon color="danger" style="font-size: xx-large;" name="close" *ngIf="togglecusnew == true"></ion-icon>
    <p style="color: #16a085;font-size: large;">เพิ่มข้อมูลทะเบียนรถยนต์ใหม่</p>
  </ion-item>

  <div *ngIf="togglecusnew == true ">
  <ion-row style="margin-top: 5px" [hidden]="photos.length >= 1">
    <ion-col size=2>
    </ion-col>
    <ion-col size=8 class="ion-text-center">
      <img [lazyLoad]="linkimg+survey_imgmile" [errorImage]="imageToShowOnError" [src]="linkimg+survey_imgmile"
        ionImgViewer>
    </ion-col>
    <ion-col size=2>
    </ion-col>
  </ion-row>

    <ion-row *ngIf="photos.length >= 1">
      <ion-col size=2>
      </ion-col>
      <ion-col size=8 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
      <ion-col size=2>
      </ion-col>
    </ion-row>

  <ion-row style="margin-top: 5px">
    <ion-col size=2>
    </ion-col>
    <ion-col size=8>
      <ion-button expand="block" class="bg-background" (click)="presentActionSheet()" icon-left>
        <ion-icon name="speedometer"></ion-icon> ถ่ายรูปทะเบียน
      </ion-button>
    </ion-col>
    <ion-col size=2>
    </ion-col>
  </ion-row>

  

  <br />
  <form (ngSubmit)="showConfirm()" #registerForm="ngForm" >
    <ion-item>
      <ion-label>1. ตัวอักษรย่อ :</ion-label>
      <ion-input type="text"  placeholder="กษ" name="initials" [(ngModel)]="datacount.initials" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>2. ตัวเลข :</ion-label>
      <ion-input type="number" placeholder="9999" name="numeral" [(ngModel)]="datacount.numeral" required></ion-input>
    </ion-item>
    <ion-item (click)="selectAutoComplate()" class="itemto">
      <ion-label>3. จังหวัด : {{datacount.provice}}</ion-label>
    </ion-item>

    <ion-row style="margin-top: 5px;">
      <ion-col class="ion-text-center">
        <ion-button expand="block" class="bg-background" type="submit" [disabled]="!registerForm.form.valid">
          <ion-icon name="speedometer" style="margin-right: 5px;"></ion-icon>
          ลงทะเบียนรถยนต์
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <br />

</div>



<ion-item color="light">
  <!-- <ion-icon color="primary" style="font-size: x-large;" name="list" ></ion-icon> -->
  รายการรถยนต์ที่ลงทะเบียนแล้ว
</ion-item>

<ion-item-sliding *ngFor="let item of items" #slidingItem>
  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="removeItem(item.id_car,slidingItem)">
      <ion-icon name="trash" style="font-size: 2em;"></ion-icon>
      ลบข้อมูล
    </ion-item-option>
  </ion-item-options>
  <ion-item lines="full" (click)="selectedItem(item)">
    <ion-thumbnail slot="start">
      <img [lazyLoad]="linkimg+item.image_car" [errorImage]="imageShowOnError">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <h2>เลขทะเบียนรถ : {{item.character_car}} {{item.car_number}}</h2>
      <h2>จังหวัด : {{item.province_car}}</h2>
    </ion-label>
    <ion-icon slot="end" color="primary" style="font-size: x-large;" name="add" ></ion-icon>
  </ion-item>
</ion-item-sliding>

  <br />
  <br />
  <p>
  </p>


</ion-content>

<!-- <ion-footer style="background-color: #f8f8f8;">
  <ion-row style="margin-top: 5px;" text-center>
    <ion-col size="6">
      <ion-button expand="full" (click)="modalhide()" color="secondary">
        <ion-icon name="close-circle"></ion-icon> ยกเลิก
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="saveproduct()" color="primary">
        <ion-icon name="md-checkbox-outline"></ion-icon> บันทึก
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->