<ion-header>
    <ion-toolbar color="primary" style="text-align: center;">
      <ion-title>ลงชื่อเข้าใช้</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-row >
          <ion-col size="12" style="text-align: center;">
               <img  alt="" height="90" src="assets/logo.png" />
          </ion-col>
      </ion-row>
        <br>
        
      
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div>
          <ion-item>
            <ion-label color="primary"  position="floating">ชื่อ</ion-label>
            <ion-input type="text" 
                       name="username" 
                       [(ngModel)]="data.username"
                       required>
            </ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label color="primary"  position="floating">รหัสผ่าน</ion-label>
            <ion-input type="password" 
                       name="password" 
                       [(ngModel)]="data.password"
                       required>
            </ion-input>
          </ion-item>
  
        </div>
        
        <p>
            <ion-button expand="full"  color="primary"
                  type="submit"
                  [disabled]="!loginForm.form.valid" style="margin-top: 30px;">ลงชื่อเข้าใช้</ion-button>
        </p>
      </form>
  
  </ion-content>
  