<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listbill"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      เพิ่มสินค้า
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentConfirm()">
        <ion-icon slot="end" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

  <ion-grid>
    <ion-list style="margin-bottom: 0px;" class="ion-text-center">
      <h4 style="margin-bottom: 0px;margin-top: 2px;">ชื่อร้านค้า : {{rival_name}}</h4>
      <p style="margin-bottom: 0px;margin-top: 2px;">รหัสร้านค้า : {{rival_code}}</p>
    </ion-list>
  </ion-grid>


  <ion-list style="margin-top: 0px;margin-bottom: 0px;">
    <form (ngSubmit)="presentConfirm()" #loginForm="ngForm">
      <ion-item>
        <ion-label>เลือกวันที่เริ่ม :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="datefirst"
          [(ngModel)]="datacount.datefirst"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>เลือกวันที่สิ้นสุด :</ion-label>
        <ion-datetime display-format="DD / MM / YYYY" picker-format="DD MM YYYY" name="dateend"
          [(ngModel)]="datacount.dateend"></ion-datetime>
      </ion-item>

      <ion-row style="margin-top: 5px;">
        <ion-col text-center>
          <ion-button expand="full" class="bg-background" type="submit" icon-left="" ion-button="" round=""
            type="submit" style="margin-top: 30px;">ค้นหา</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </ion-list>


  <ion-list>
    <ion-list-header style="margin-bottom: 0px;font-size: medium;color: #222;font-weight: bolder;">
      รายการสินค้าที่เพิ่มทั้งหมด
    </ion-list-header>

    <!-- <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหาชื่อร้าน..."></ion-searchbar> -->

    <ion-list class="ion-text-center" *ngIf="isShown">
      <!-- Bubbles -->
      <ion-spinner name="dots"></ion-spinner>
    </ion-list>


    <ion-item-sliding *ngFor="let item of items" #slidingItem>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="removeProduct(item,slidingItem)">
          <ion-icon name="trash" style="font-size: 2em;"></ion-icon>
          ลบ
        </ion-item-option>
      </ion-item-options>

      <ion-item lines="full" (click)="goToAdd(1,item)">

        <ion-avatar slot="start" *ngIf="item.picturename != null">
          <img src="{{item.picturename}}">
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="item.picturename == null">
          <img src="assets/No_Image.jpg">
        </ion-avatar>

        <ion-label class="ion-text-wrap">
          <h2>ชื่อสินค้า: {{item.product_name}}</h2>
          <h3>รายละเอียด: {{item.description}}</h3>
          <h3>ราคาสินค้า: <span style="font-size: 12px; font-weight:700;
            line-height: 8px;
            color: #fff;
            padding: 1px 3px 1px 3px;
            border-radius: 3px;
            background: -webkit-linear-gradient(left, #3cba92, #0ba360)"
              *ngIf="item.product_price_instore  <= item.product_price ">{{item.product_price | number:'1.2-2' }}</span>
            <span style="font-size: 12px; font-weight:700;
            line-height: 8px;
            color: #fff;
            padding: 1px 3px 1px 3px;
            border-radius: 3px;
            background: -webkit-linear-gradient(left, #ff8763, #ff330c);"
              *ngIf="item.product_price_instore > item.product_price ">{{item.product_price | number:'1.2-2' }}</span> </h3>
          <h3 style="color: #262626;font-weight: 600;">วันที่บันทึก: {{item.savetime}}</h3>
        </ion-label>

      </ion-item>


    </ion-item-sliding>





  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab>
    <ion-fab-button color="primary" (click)="goToAdd(2,null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</ion-content>