<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">รายการสมัครสมาชิกใหม่</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="doRefresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหาชื่อ/เบอร์โทร..."></ion-searchbar>

  <ion-list class="ion-text-center" *ngIf="isShown">
    <!-- Bubbles -->
    <ion-spinner name="dots"></ion-spinner>
  </ion-list>


  <ion-item-sliding *ngFor="let item of items" #slidingItem>
    <ion-item-options side="end">
     <!--  <ion-item-option color="danger" expandable (click)="removeItem(item.catagory_id,slidingItem)">
        <ion-icon name="trash" style="font-size: 2em;"></ion-icon>
        ลบ
      </ion-item-option> -->
    </ion-item-options>
    <ion-item lines="full" (click)="itemTapped(item)">
      <ion-thumbnail slot="start">
        <img [lazyLoad]="item.globalclub_img2" [errorImage]="imageToShowOnError">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>ชื่อสมาชิก : {{item.fullname}}</h2>
          <h3>รหัสสมาชิก : {{item.customer_barcode}}</h3>
          <h3>เบอร์โทร : {{item.mobile}}</h3>
          <h3>อีเมล์ : {{item.email}}</h3>
          <p>วันที่บันทึก :{{item.savetime}}</p>
      </ion-label>
    </ion-item>
  </ion-item-sliding>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab>
    <ion-fab-button color="warning" (click)="itemFabAddCustomer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
