.searchbar .searchbar-input{
    padding: 6px 55px;
    border-radius: 30px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #e6e6e6;
    box-shadow: none;
}

ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h{
        padding-bottom: 5px;
}

.list{
    margin: -1px 0 0px;
}

.alltxtsearch{
    font-size: 16px;
    font-weight: 600;
}

.incat{
    font-size: 14px;
    font-weight: 300;
    color:#03a9f4;
}

.item ion-thumbnail ion-img, .item ion-thumbnail img{
    width: 60px;
    height: 60px;
}

.item ion-thumbnail {
    min-width: 60px;
    min-height: 60px;
}