<ion-header no-border>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <form (ngSubmit)="gotoGridsearch(txtSearchAll,0,1)">
      <ion-searchbar mode="ios" #search placeholder="ค้นหาสินค้า..."  [formControl]="searchControl" name="txtSearchAll"
        [(ngModel)]="txtSearchAll" (ionChange)="setFilteredItems()"></ion-searchbar> <!-- (input)="getItems($event)" -->
    </form>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="txtSearchAll != ''" >
    <ion-item (click)="gotoGridsearch(txtSearchAll,0,2)">
      ค้นหา: '<span class="alltxtsearch">{{txtSearchAll}}</span>' ทั้งหมด
      <ion-button fill="clear" slot="end">Enter</ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item  *ngFor="let itemcat of itemsincat"
      (click)="gotoGridsearch(itemcat.name,itemcat.entity_id,3)">
      ค้นหา: '{{ itemcat.textsearch }} ใน <span class="incat">{{itemcat.name}}</span>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="itemsProduct.length == 0">
    <ion-item-divider color="light"> ยอดนิยม </ion-item-divider>
    <ion-item *ngFor="let item of items" (click)="gotoGridsearch(item.pro_name_new,0,4)">
      {{ item.pro_name_new }}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="itemsProduct.length > 0">
    <ion-item-divider color="light"> รายการค้นหา </ion-item-divider>
    <ion-item *ngFor="let item of itemsProduct" (click)="gotoProductDetail(item)">
      <ion-thumbnail item-start>
        <img [src]="item.pro_img1">
      </ion-thumbnail>
      <ion-label>{{ item.pro_name_new }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
