a.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

/* ion-fab,
ion-footer {
  bottom: 20px;

} */

ion-card {
  margin: 0;
  height: 100%;
}

ion-card-title {
  font-size: 40px;
}

ion-card-header {
  padding: 10px;
}

ion-card-content {
  padding: 0;

  .price {
    padding: 0 10px 10px 10px;
    font-weight: bold;
    font-size: 14px;

    .special-price {
      padding-left: 5px;
      font-size: 10px;
      font-weight: 300;
    }
  }
}

ion-card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: small;
}

.blocks {
  .banner_block {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    z-index: 0;

    .banner-scroll {
      img {
        text-decoration: none;
        margin: 0 5px 0 5px;
        width: 53%;
        vertical-align: middle;
      }

      img:first-child {
        margin: 0 5px 0 10px;
      }

      img:last-child {
        margin: 0 10px 0 5px;
      }
    }

    .banner-grid {
      img {
        vertical-align: middle;
      }

      .row.unlimited-items {
        flex-wrap: wrap;
      }

      .row.unlimited-items .col {
        flex: none;
        width: 50%;
        line-height: 0;
        padding: 5px;
      }
    }

    .floating-header {
      overflow: auto;
      white-space: nowrap;
      z-index: 3;
      padding-left: 30%;

      .banner {
        width: 90%;
        height: auto;
      }

      @media (min-width: 481px) and (max-width: 768px) {
        padding-left: 25%;
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        padding-left: 20%;
      }

      @media (min-width: 1025px) {
        padding-left: 15%;
      }
    }
  }

  .scrollmenu {
    //background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  .scrollmenu a {
    display: inline-block; //color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .left_floating {
    padding: 0 16px;
    z-index: -1;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    max-width: 30%;
    width: 40%;
    text-align: center; //left: 0;
    white-space: normal;

    @media (min-width: 481px) and (max-width: 768px) {
      max-width: 30%;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      max-width: 25%;
    }

    @media (min-width: 1025px) {
      max-width: 20%;
    }
  }

  .top_left {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 16px;
  }

  .top_center {
    padding: 14px 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

  .top_right {
    padding: 10px 16px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
  }

  .none {
    display: none;
  }

  .block-title {
    margin-top: 10px;
    font-weight: 400;
  }

  .product-block {
    overflow: auto;
    white-space: nowrap;
    position: relative;
    z-index: 0;

    .product-scroll {
      padding-bottom: 5px;

      .scroller {
        padding: 0px 4px 15px 4px;
        overflow: auto;
        white-space: nowrap;

        h5 {
          margin: 0;
          border-radius: 3px;
          padding: 6px;
          font-size: 12px;
          text-transform: capitalize;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 400;
        }

        .product-item {
          display: inline-block; //color: #000;
          text-decoration: none;
          width: 42%;
          padding: 0px 5px 0px 5px;
        }

        @media (min-width: 481px) and (max-width: 768px) {
          .product-item {
            width: 33.333%;
          }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          .product-item {
            width: 25%;
          }
        }

        @media (min-width: 1025px) {
          .product-item {
            width: 20%;
          }
        }

        img {
          height: auto;
          width: 100%;
        }

        ion-card {
          width: 100%;
          height: 100%;
          margin: 0;
        }

        ion-card-content {
          padding: 0;
        }

        .price-regular {
          font-size: 14px;
          font-weight: 400;
        }

        del {
          font-size: 12px; //color: #535766; // margin-left: 10px;
        }

        ion-label {
          margin: 0;
          padding: 0 6px 6px 6px;
        }
      }

      .floating-header {
        overflow: auto;
        white-space: nowrap;
        z-index: 3;
        padding-left: 30%;

        .banner {
          width: 90%;
          height: auto;
        }
      }
    }

    .product-grid {
      .wishlist-button-grid1 {
        position: absolute;
        top: 2px;
        right: 20px;
        font-size: 2em;
        margin: 0.4rem -5px;
        color: #f44336;
      }

      .wishlist-button-grid2 {
        position: absolute;
        top: 2px;
        right: 20px;
        font-size: 2em;
        margin: 0.4rem -5px;
        color: #444;
      }

      ion-row {
        margin: 0;
        padding: 0 0 0 5px;
      }

      ion-col {
        margin: 0;
        padding: 5px 5px 0 0;
      }

      ion-card {
        position: relative;
        text-align: center;
        margin: 0;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          margin: auto;
          padding: 0;
        }

        ion-card-content {
          padding: 0px;
        }
      }

      .card-title {
        position: absolute;
        top: 80%;
        font-size: 12px;
        width: 100%;
        font-weight: 500; //color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%; //color: #fff;
      }

      .card-name {
        width: 144px;
        margin: auto;

        ion-label {
          margin: 8px 0;
          height: 20px;
          white-space: no-wrap;
          font-size: 13px;
        }
      }

      .label {
        margin-bottom: 10px;
        margin-top: 5px;
      }

      .price-delete {
        //color: #535766;
        margin: 0 7.5px;
        font-size: 12px;
      }

      .price-regular {
        margin: 0 7.5px;
        font-size: 14px;
        font-weight: 400;
      }

      .row.unlimited-items {
        flex-wrap: wrap;
        padding-left: 0;
      }

      .row.unlimited-items .col {
        flex: none;
        width: 50%;
        padding: 0;
      }

      .row.unlimited-items .col:nth-child(2n+0) {
        border-right: none;
      }

      @media (min-width: 481px) and (max-width: 768px) {
        .row.unlimited-items .col {
          width: 33.333%;
        }

        .row.unlimited-items .col:nth-child(3n+0) {
          border-right: none;
        }
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        .row.unlimited-items .col {
          width: 25%;
        }

        .row.unlimited-items .col:nth-child(4n+0) {
          border-right: none;
        }
      }

      @media (min-width: 1025px) {
        .row.unlimited-items .col {
          width: 20%;
        }

        .row.unlimited-items .col:nth-child(5n+0) {
          border-right: none;
        }
      }
    }
  }

  .flash_sale {
    .floating-header {
      overflow: auto;
      white-space: nowrap;
      z-index: 3;
      padding-left: 45% !important;
    }

    .left_floating {
      padding: 0;
      top: 15%;
      max-width: 48%;
      width: 48%;
    }

    .flash-item-name {

      //background-color: transparent;
      h2 {
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-left: -7px;
        margin-bottom: 8px;
        margin-top: 0;
      }

      h4 {
        //color: #999;
        padding: 4px 4px 8px 4px;
        font-size: 11px;
        text-align: center;
        text-transform: uppercase;
        text-align: center;
      }

      .day {
        background: black;
        color: #fff;
        width: 25px;
        min-width: 25px;
        max-width: 25px;
        height: 25px;
        min-height: 25px;
        max-height: 25px;
        font-size: 10px;
        display: inline-flex;
        margin: auto;
        text-align: center;

        span {
          margin: auto;
        }
      }
    }
  }

  .category {
    z-index: 0;

    .floating-header {
      overflow: auto;
      white-space: nowrap;
      z-index: 3;
      padding-left: 43%;

      .banner {
        width: 90%;
        height: auto;
      }
    }

    .category-slider-scroll,
    .category-scroll {
      overflow: auto;
      white-space: nowrap;
      position: relative;
      display: -webkit-box;

      .scrollmenu2 {
        margin: 0;
        padding-bottom: 15px;
        overflow: auto;
        white-space: nowrap;

        .none {
          display: none;
        }

        h5 {
          margin: 0;
          border-radius: 3px;
          padding: 10px 4px 0 4px;
          font-size: 11px;
          text-transform: capitalize;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        /* img {
                    height: auto;
                    width: 20vw;
                    max-width: 100px;
                    max-height: 100px;
                } */
        .product-item {
          display: inline-block; //color: #000;
          text-align: center;
          padding: 14px;
          text-decoration: none;
          padding: 0 10px 10px 10px;
          width: 40%;
        }

        @media (min-width: 481px) and (max-width: 768px) {
          .product-item {
            width: 33.333%;
          }
        }

        @media (min-width: 769px) and (max-width: 1024px) {
          .product-item {
            width: 25%;
          }
        }

        @media (min-width: 1025px) {
          .product-item {
            width: 20%;
          }
        }
      }
    }

    .category-slider-grid,
    .category-grid {
      h5 {
        font-size: 13px;
      }

      ion-card-content {
        padding: 0px;
      }

      .card-md ion-card-content {
        padding: 0px;
      }

      .none {
        display: none;
      }

      ion-card {
        margin: 0px;
        width: 100%;
        border-radius: 0;

        img {
          display: block;
          width: 100%;
          height: auto; //padding: 0 10px 0 10px;
        }
      }

      .row.unlimited-items {
        flex-wrap: wrap;
        padding-left: 0;
      }

      .row.unlimited-items .col {
        flex: none;
        padding: 0;
        width: 50%;
      }

      .row.unlimited-items .col:nth-child(2n+0) {
        border-right: none;
      }

      @media (min-width: 481px) and (max-width: 768px) {
        .row.unlimited-items .col {
          width: 33.333%;
        }

        .row.unlimited-items .col:nth-child(3n+0) {
          border-right: none;
        }
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        .row.unlimited-items .col {
          width: 25%;
        }

        .row.unlimited-items .col:nth-child(4n+0) {
          border-right: none;
        }
      }

      @media (min-width: 1025px) {
        .row.unlimited-items .col {
          width: 20%;
        }

        .row.unlimited-items .col:nth-child(5n+0) {
          border-right: none;
        }
      }
    }
  }
}


img.ng-lazyloaded {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


//New Css

$th-font: "CSChatThai";
$en-font: "Rubik";
$th-font1: "Prompt";

ion-button.gbyellowshop {
  color: #945b10;
  --background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
  font-size: 11px;
}

.content-bg {
  --background: #f5f6f8;
}

.has-refresher>.scroll-content {
  border-top: 0px solid #fff;
}

//Header Navbar
.toolbar-background-md {
  background-color: rgba(0, 0, 0, 0);
  //background: linear-gradient(353deg, #fd931b 61%, #fda221 74%, #face3a 115%); //#009688;
}

.toolbar-background-ios {
  background-color: rgba(0, 0, 0, 0);
  //background: linear-gradient(353deg, #fd931b 61%, #fda221 74%, #face3a 115%);//#009688;
}

/* Css Header palarax  */
.header-side {
  width: 100%;
  padding: 10px 10px 0px 10px;
  //margin-left: 10px;
  //margin-right: 10px;
  //width: 100%;
  //height: 170px;
  /* background: #fd931b; */
  /* background: linear-gradient(353deg, #fd931b 20%, #fda221 39%, #face3a 100%); */
}

ion-slides {
  height: 100%;

  img {
    border-radius: 10px;
  }
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
}

.button-outline-md-light {
  border-color: #ffffff;
  color: #ffffff;
}

.pro-title {
  font-family: $th-font1;
  font-size: 16px;
  font-weight: 600;
  color: #401402;
  margin-bottom: 3px;
}

.pro-content {
  float: left;
  text-align: left;
  left: 15px;
  width: 60%;
  //padding: 15px;
  font-family: $th-font1;
  position: absolute;
}

.pro-content-img {
  position: absolute;
  right: 0px;
  //top: 30px;
}

.pro-content-img img {
  width: 160px;
}

.pro-sale {
  font-family: $th-font1;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  margin-top: -10px;
  margin-bottom: 3px;
}

.pro-sale span {
  position: relative;
  top: 5px;
  font-family: "Rubik";
  font-size: 38px;
  font-weight: 400;
  color: #fff;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

/* Css Header palarax  */
/* css Search ios */

.box {
  top: 0px;
  width: 100%;
  padding: 10px;
  position: fixed; //relative  , fixed
  z-index: 99;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}

.box-anime {
  background: #fac836;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
}



.container-4 {
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  display: flex;

  .vertical {
    border-radius: 0px 30px 30px 0px;
    border: none;
    --background: #fff;
    height: 35px;
    width: 50px;
    color: #4f5b66;
    opacity: 1;
    font-size: 10pt;
    --background-activated: #ededed;
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-top: 0px;
    margin-bottom: 4px;
    color: #dde2e6;
  }
}

.container-4 #search {
  width: 100%;
  height: 35px;
  //background: rgba(255,255,255,0.6);
  background: #f1f1f1;
  border: none;
  font-size: 10pt;
  float: left;
  color: #444;
  padding-left: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 30px 0px 0px 30px;
}

.container-4 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-4 span.icon {
  position: absolute;
  left: 0px;
  margin-left: 20px;
  margin-top: 8px;
  z-index: 1;
  color: #4f5b66;
  font-size: 20px;
}


.container-4 .icon1 ion-icon {
  width: 20px;
  height: 20px;
  color: #797676;
}

.container-4 .icon1 {
  border-radius: 0px 30px 30px 0px;
  border: none;
  background: #fff;
  height: 35px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
}

.container-4 .icon-cart {
  border: none;
  /* background: #d6d4ce; */
  margin: 0 0.5em;
  height: 35px;
  width: 30px;
  color: #ffffff;
  font-size: 26px;
}

.container-4 .icon-cart ion-icon {
  height: 30px;
  width: 30px;
}

.num-cart {
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  background-color: #ef645a;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  margin-left: 1.7em;
  bottom: -2px;
  padding-top: 2px;
}

button.icon1:hover:not(.disable-hover) {
  opacity: 0.7;
}

.card-md {
  margin: 10px 0px;
}

/* sector2 */
.sector2-card-local {
  // box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: block;
  transition: 0.3s;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;

  .button {
    color: #945b10;
    background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
    font-size: 11px;
    border-radius: 64px;
  }
}

.sector2-header {
  width: 100%;
  height: 66px;
  //background-image: url("../../assets/imgs/card-local.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.sector2-card-point {
  //box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  display: block;
  transition: 0.3s;
  width: 100%;
  height: 160px;
  border-radius: 10px;
  //background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
  background: #fff;
  text-align: center;

  .button {
    color: #945b10;
    background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
    font-size: 11px;
    border-radius: 64px;
  }
}

.sector2-card-local img {
  border-radius: 10px 10px 0 0;
  opacity: 0.9;
}

.sector2-content {
  padding: 5px;
}

.sector2-content h4 {
  font-family: $th-font1;
  font-size: 15px;
  font-weight: 500;
  color: #fd931b;
  margin-top: 7px;
  margin-bottom: 3px;
}

.sector2-content p {
  font-family: $th-font;
  font-size: 14px;
  color: #7c7c7c;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sector2-content h4.point-number {
  font-family: $en-font;
  font-size: 24px;
  font-weight: 600;
  color: #fa502b;
  margin-top: -3px;
  margin-bottom: 0px;
}

p.point-text {
  font-family: $th-font;
  font-size: 17px;
  color: #945b10;
  margin-top: -5px;
  margin-bottom: 0px;
}

h3.point-global {
  font-family: $en-font;
  font-size: 15px;
  font-weight: 600;
  color: #945b10;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* sector2 */
.height-space {
  width: 100%;
  height: 10px;
}

.footer-space {
  width: 100%;
  height: 80px;
}

/*  list  items */
.item {
  padding-left: 12px;
}

.list {
  margin: 0px 7px 0px;
  border-radius: 20px;
}

.list>.item-block:last-child,
.list>.item-wrapper:last-child .item-block {
  border-bottom: 0;
}

.list-ios>.item-block:first-child {
  border-top: 0;
}

/*  items */
/*  davider */
.divider-header {
  display: inline-block;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.divider-header h3 {
  font-family: $th-font1;
  font-size: 16px;
  font-weight: 500;
  float: left;
  margin: 5px 5px 5px 10px;
}

.divider-header ion-button {
  font-family: $th-font;
  font-size: 16px;
  color: #666;
  float: right;
  margin: 0px;
}

.divider-header ion-icon {
  font-size: 16px;
  color: #666;
  margin-top: 0px;
}

/*  davider */
/* TOP Category */
.topcat-content {
  // display: inline-block;
  width: 100%;
  margin: 0px 10px 5px;
}

ion-slide .topcat-block {
  display: block;
  background-color: #ededed;
  border-radius: 10px;
  padding: 8px 4px 5px 5px;
  width: 100%;
}

ion-slide .topcat-block p {
  font-family: $th-font;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

/* end TOP Category */
/* Produc Card Slide */
.product-card {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 4px 5px 5px;

  ._1T9dHf {
    height: 159px;
    object-fit: contain;
  }
}

.product-card p {
  font-family: $th-font;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin: 0;
  text-align: left;
  line-height: 15px;
  /* white-space: nowrap; */
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-card h2 {
  font-family: $en-font;
  font-size: 8px;
  font-weight: 300;
  color: #333;
  width: 100%;
  margin: 4px 0px 0px 0px;
  text-align: left;
  text-decoration: line-through;
  line-height: 24px;
}

.product-card h3 {
  font-family: $en-font;
  font-size: 15px;
  font-weight: 600;
  color: #d2190c;
  width: 100%;
  margin: 0px 0px 8px 0px;
  text-align: left;
  line-height: 12px;
}

.product-card h3 span {
  font-size: 8px;
}

/* Product Catelog Grid */
.grid-content {
  width: 100%;
  margin: 0px 5px 5px;
}

.product-grid {
  width: 43%;
  margin-left: 3%;
  margin-top: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 4px 5px 5px;
}

.product-grid p {
  font-family: $th-font;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin: 0;
  text-align: left;
  line-height: 15px;
  /* white-space: nowrap; */
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-grid h2 {
  font-family: $en-font;
  font-size: 8px;
  font-weight: 300;
  color: #333;
  width: 100%;
  margin: 4px 0px 0px 0px;
  text-align: left;
  text-decoration: line-through;
  line-height: 24px;
}

.product-grid h3 {
  font-family: $en-font;
  font-size: 15px;
  font-weight: 600;
  color: #d2190c;
  width: 100%;
  margin: 0px 0px 8px 0px;
  text-align: left;
  line-height: 12px;
}

.product-card h3 span {
  font-size: 8px;
}

/* end Product Catelog Grid */

/* ----- Preload Css --------- */
.preload-block {
  display: inline-block;
  background-color: #fff;
  height: 120px;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 8px;
  padding: 19px 20px;
  animation: preload-block 1.2s ease-in-out infinite;
}

@keyframes preload-block {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.pre-col12 {
  width: 95%;
}

.pre-col6 {
  width: 45%;
}

.preload-block .preload-content1 {
  display: block;
  width: 110px;
  background-color: #ededed;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.preload-block .preload-content2 {
  display: block;
  width: 80px;
  background-color: #ededed;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* ----- Preload Css --------- */

/* Responsive All Device */
/* Portrait */
/* @media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-side {
    height: 170px;
  }

} */

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background-color 0.8s;
}

.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, rgb(153, 152, 152) 1%) center/15000%;
}

.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background-color 0s;
}

/* Galaxy  Portrait */
/* @media only screen and (max-width: 360px) {
  .header-side {
    //height: 170px;
  }

  .product-grid {
    width: 44%;
  }
} */

/* Smartphones (landscape) ----------- */
/* @media only screen
       and (min-width : 321px) {
      
       } */
/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width: 320px) {
  .header-side {
    //height: 170px;
  }
} */

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
/* @media only screen and(min-width: 320px) and (max-width: 480px) {
  .header-side {
    //height: 170px;
  }
} */

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media only screen and(min-width: 481px) and (max-width: 767px) {}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pro-content {
    margin-left: 10em;
  }

  .pro-content-img {
    right: 9em;
  }

  .sector2-card-local img {
    height: 57px;
    width: 100%;
  }
}


//new css
.fab-gborange {
  --color: #945b10;
  --background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
  border-radius: 50%;
}

//list Card
.result_wrapper {
  width: 100%;
  padding: 5px;

  .row {
    width: 100%;
  }

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
      width: calc(100% - 51%);
      display: inline-block;

      .inner_result {
        position: relative;
        height: 160px;
        background: #f5f5f5;
        padding: 0px;
        text-align: center;

        img {
          height: 130px;
          width: auto;
        }

        .fav_circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: 10px;
          //background: url("../assets/imgs/heart.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 12px;
        }

        .fav {
          background-color: #0ba360;
        }

        .not_fav {
          background-color: #dcdcdc;
        }
      }

      h5 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        color: #575757;
        padding-top: 10px;
        font-weight: 400;
        text-align: left;
      }

      p {
        text-align: center;
        margin: 0px;
        padding: 0px;
        color: #575757;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        padding-bottom: 15px;

        strong {
          color: #a3a3a3;
          font-weight: 300;
          padding-left: 5px;
          text-decoration: line-through;
          margin-right: 5px;
        }
      }
    }
  }

  //Clear All
  .fashion_header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h6 {
      padding: 0px;
      margin: 0px;
      float: left;
      color: #646464;
      text-transform: uppercase;
      padding: 8px;
    }

    .seeall {
      float: right;
      color: #fff;
      height: 25px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: capitalize;
      font-size: 2rem;
    }

    .seeall_pink {
      background: -webkit-linear-gradient(left, #3cba92, #0ba360);
      font-size: 1.2rem;
      margin-right: 10px;
    }

    .seeall_blue {
      background: #1f5282;
    }
  }

  .card-content {
    border-radius: 3px;
    //ใส่สะท้อน Card view
    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    text-decoration: none;
    vertical-align: top;

    .inner_result {
      position: relative;
      //height: 160px;
      padding: 0px;
      text-align: center;
      display: block;

      ._1T9dHf {
        //position: absolute;
        //top: 0;
        //left: 0;
        //background-color: #fff;
        height: 228px;
        object-fit: contain;
      }

      ._2tmNDt {
        position: absolute;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        .badge-text {
          //margin-left: 0.25rem;
          -webkit-box-flex: 0;
          -webkit-flex: 0;
          -moz-box-flex: 0;
          -ms-flex: 0;
          flex: 0;
        }

        .badge-text--promotion {
          //background-color: #fcd511;
          background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);

          .badge-text__text {
            width: 2.5rem;
            height: 2.5rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            background-color: inherit;

            .badge__promotion {
              white-space: normal;
              color: #945b10;
              text-align: center;
              font-weight: 600;
              font-family: $en-font;
              font-size: 12px;
              line-height: 13px;
              margin-top: 3px;

              .badge__promotion-off {
                color: #fff;
              }
            }
          }

          .badge-text__text:after {
            content: "";
            width: 0;
            height: 0;
            left: 0;
            bottom: -0.6rem;
            border-style: solid;
            position: absolute;
            border-width: 0 1.25rem 0.65rem;
            border-color: transparent #ffcb3b;
          }
        }
      }

      img {
        //height: 130px;
        width: auto;
      }

      .fav_circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        //background: url("../assets/imgs/heart.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
      }

      .fav {
        background-color: #ff350e;
      }

      .not_fav {
        background-color: #dcdcdc;
      }
    }

    ._1tDEiO {
      width: 100%;
      //padding-top: 100%;
    }

    .item-desc {
      padding: 0.08rem 0.08rem 0.07rem;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .item-title {
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      color: #404040;
      overflow: hidden;
      margin-top: 0.04rem;
    }

    .item-price-promotion {
      line-height: 0.21rem;
      height: 0.21rem;
      font-size: 16px;
      color: #f57224;
    }

    .item-price-original {
      line-height: 0.11rem;
      height: 0.11rem;
      color: #9e9e9e;
      font-size: 12px;
    }
  }

  .card-body {
    flex: 1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $th-font;
    font-size: 16px;

    h5 {
      /* text-align: center;
                  margin: 0px;
                  padding: 0px;
                  color: #575757;
                  padding-top: 10px;
                  font-weight: 400;
                  text-align: left; */

      /*  margin-top: 0px;
                  color: #575757;
                  white-space: normal;
                  height: 4rem;
                  font-size: 14px;
                  word-break: break-all;
                  margin-bottom: .75rem;
                  overflow: hidden;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2; */

      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 3rem;
      font-family: $th-font;
      line-height: 15px;
    }

    p {
      font-family: $en-font;
      text-align: center;
      margin: 0px;
      padding: 0px;
      text-align: left;
      padding-bottom: 5px;
      font-size: 15px;
      font-weight: 600;
      color: #d2190c;

      strong {
        font-family: $en-font;
        font-size: 8px;
        color: #333;
        font-weight: 300;
        padding-left: 5px;
        text-decoration: line-through;
        margin-right: 5px;
      }
    }
  }
}

  //addToCart
/*   .cart-num.normal-num {
    //width: 18px;
    top: -3px;
  }

  .cart-num {
    background: #ffffff;
    color: #0ba360;
    border-radius: 0.625rem;
    height: 1.35rem;
    font-size: 16px;
    font-weight: 700;
    padding: 0.115rem 0.5025rem;
    text-align: center;
  } */