<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      สั่งสินค้าสาขา
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addcartnow()">
        <ion-icon name="cart"></ion-icon>
        <span class="cart-num normal-num">{{itemcount}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row style="margin: 0px;background: #16a085;">
    <ion-col size=12 style="margin: 0px;">
      <form (ngSubmit)="search()">
      <ion-searchbar name="scanData" [(ngModel)]="input"  debounce=500
        placeholder="ค้นหาสินค้า..." style="padding: 0px;">
      </ion-searchbar>
      </form>
    </ion-col>
  </ion-row>
</ion-header> -->

<ion-header>
  <ion-toolbar style="box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);--border-width: 0 0 0px;--min-height: 0px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="ค้นหาสินค้า..." mode="ios" (click)="gotoSearch()" style="padding: 0px;height: 45px;">
    </ion-searchbar>
    <ion-buttons slot="end" (click)="scanSearchQR()"
      style="padding-left: 10px;padding-right: 10px;font-size: 1.2rem;color: #626262;">
      <ion-icon src="assets/icon/qr-scan.svg"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="addcartnow()"
      style="padding-left: 5px;padding-right: 15px;font-size: 1.5rem;color: #626262;">
      <ion-icon src="assets/icon/basket-loaded.svg"></ion-icon>
      <p class="num-cart">{{itemcount}}</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-bg" [scrollEvents]="true" (ionScroll)="onScroll($event)">


  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher> -->

  <!-- <div class="result_wrapper">

    <ion-row >
      <ion-col size=6 *ngFor="let item of items_cat">
        <div class="card-content" (click)="gotoCategoryProduct(item.product_category_id,item.product_category_code,item.product_category_name)">
          <div class="inner_result">
            <img src="assets/iconcat/{{item.product_category_code}}.png" style="border-radius: 10%;border-radius: 10%;margin-top: 20px;max-width: 30%;">
          </div>
          <div class="card-body">
            <h5>{{item.product_category_name}}</h5>
            <p>{{item.product_category_name_end}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </div> -->

  <div class="grid-content">
    <div *ngIf="productData == null">
      <!-- pre load -->
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>

      <!-- pre load -->
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>

      <!-- pre load -->
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>

    </div>

  </div>


  <div class="result_wrapper">

    <ion-row>
      <!-- Column -->
      <ion-col size="6" *ngFor="let item of productData">
        <div class="card-content" (click)="gotoProductDetail(item)">
          <div class="inner_result _1tDEiO">
            <!-- <div class="fav_circle fav"></div> -->
            <!-- <img image-preloader="{{item.pro_img1}}"> -->
            <img [lazyLoad]="item.pro_img1" [errorImage]="imageToShowOnError" class="_1T9dHf">
            <div class="_2tmNDt" *ngIf="item.pro_price > 0 ">
              <div class="badge-text badge-text--promotion">
                <div class="badge-text__text">
                  <div class="badge__promotion">{{((item.pro_price-item.pro_sale_price)/item.pro_price)*100 |
                      number:'0.0-0'}}%
                    <div class="badge__promotion-off">ลด</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5>{{item.pro_name_new}}</h5>
            <p *ngIf="item.pro_price > 0 "><strong>฿{{item.pro_price | number:'1.0-2'}}</strong>฿{{item.pro_sale_price
                | number:'1.0-2'}}</p>
            <p [hidden]="item.pro_price > 0 ">฿{{item.pro_sale_price | number:'1.0-2'}}</p>
          </div>

        </div>
      </ion-col>
      <!-- Column -->
    </ion-row>

  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" fill="clear" *ngIf="showToolbar">
    <ion-fab-button class="fab-gborange" (click)="ScrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-infinite-scroll (ionInfinite)="loadProductInfinite($event)" threshold="80%">
    <!-- threshold="70%" -->
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>