<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">ป้อนเข็มไมล์เริ่ม</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="margin-top: 5px">
    <ion-row>
      <ion-col class="ion-text-center">
        <h4 style="margin-top: 0px;margin-bottom: 0px;font-size: large;">ป้อนเข็มไมล์/เลขทะเบียน</h4>
      </ion-col>
    </ion-row>
    <p class="ion-text-center" style="color: red;margin-top: 0px;margin-bottom: 0px;">* กรุณาถ่ายรูปเข็มไมล์/เลขทะเบียน.
    </p>
  </ion-grid>

  <ion-row style="margin-top: 5px">
    <ion-col size=6>
      <!-- <img [lazyLoad]="linkimg+survey_imgmile" [errorImage]="imageToShowOnError" [src]="linkimg+survey_imgmile"
        ionImgViewer> -->
        <img style="width: 100%;" src="{{linkimg}}{{survey_imgmile}}" *ngIf="survey_imgmile != null" ionImgViewer>
      <img style="width: 100%;" src="assets/No_Image.jpg" *ngIf="survey_imgmile == null ">
    </ion-col>
    <ion-col size=6>
      <!-- <img [lazyLoad]="linkimg2+img_car" [errorImage]="imageToShowOnError" [src]="linkimg2+img_car" ionImgViewer> -->
      <img style="width: 100%;" src="{{linkimg}}{{survey_imgcar}}" *ngIf="survey_imgcar != null" ionImgViewer>
      <img style="width: 100%;" src="assets/No_Image.jpg" *ngIf="survey_imgcar == null ">
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 5px">
    <ion-col size=6>
      <ion-button expand="block" class="bg-background" (click)="presentActionSheet()" icon-left>
        <ion-icon name="speedometer"></ion-icon> ถ่ายรูปเข็มไมล์
      </ion-button>
    </ion-col>
    <ion-col size=6>
      <ion-button expand="block" class="bg-background" (click)="presentActionSheetcar()" icon-left>
        <ion-icon name="camera"></ion-icon> ถ่ายรูปทะเบียน
      </ion-button>
    </ion-col>

  </ion-row>


  <form (ngSubmit)="showConfirm()" #registerForm="ngForm" style="margin-top: 15px">
    <ion-col class="ion-text-center">
      <!--  <ion-item no-lines>
                  <ion-label>ไม่ต้องการรับเงินเบี้ยเลี้ยง</ion-label>
                  <ion-checkbox  name="cucumber" [(ngModel)]="cucumber"></ion-checkbox>
                </ion-item> -->
      <ion-item>
        <ion-label>รถเดินทาง :</ion-label>
        <ion-select slot="end" name="survaycar" [(ngModel)]="survaycar" interface="popover" placeholder="ประเภทรถ">
          <ion-select-option [value]="false">ใช้รถส่วนตัว</ion-select-option>
          <ion-select-option [value]="true">ใช้รถบริษัท</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-col>
    <ion-item>
      <ion-label>ป้อนเข็มไมล์เริ่ม :</ion-label>
      <ion-input type="number" name="poquantity" [(ngModel)]="datacount.poquantity" placeholder="กรอกตัวเลข..."
        required></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>ป้อนเลขทะเบียนรถ :</ion-label>
      <ion-input type="text" name="carname" [(ngModel)]="datacount.carname" placeholder="กรอกตัวเลข..." required>
      </ion-input>
    </ion-item> -->
    <ion-item (click)="openModal()" class="itemto">
      <ion-label class="stlytext">เลือกเลขทะเบียนรถ : <span *ngIf="datacount.carname != ''">{{datacount.carname}}</span><span *ngIf="datacount.carname == ''"> *กรุณาเพิ่มเข็มไมล์ </span></ion-label>
    </ion-item>
  


    <ion-list style="margin-top: 10px;">
      <ion-button expand="block" class="bg-background" type="submit" style="margin-top: 30px;"
        [disabled]="!registerForm.form.valid">
        <ion-icon name="speedometer"></ion-icon>บันทึกข้อมูล
      </ion-button>
    </ion-list>

  </form>

  <br />
  <br />
  <br />
  <br />
  <br />


</ion-content>