.itemto {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>");
    padding-right: 32px;
    background-position: right 14px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }

  ion-spinner {
    transform: scale(2);
  }
  .scrolling-wrapper {
      overflow-x: scroll!important;
      overflow-y: hidden;
      word-wrap: break-word;
      //height:100%;
      font-size:0.9em;
      font-weight:400;
      padding: 0px;
  
      ::-webkit-scrollbar{
        display:none;
      }
    
    .scroll-row {
      //display: inline-block;
  
      ion-col {
        padding: 5px;
      }
  
      .table {
        border: solid 1px #f4f4f4;
        //border-bottom-style: none;
        border-top-style: none;
        border-right-style: none;
        //border-left-style: none;
  
      }
    }
  
    .scroll-header {
      //display: inline-block;
      //background: -webkit-linear-gradient(left, #3cba92, #0ba360);
      color: #ffffff;
      ion-col {
        padding: 10px;
        background:  #0ba360;
      }
  
      .table {
        border: solid 1px #f4f4f4;
        //border-bottom-style: none;
        border-top-style: none;
        border-right-style: none;
        //border-left-style: none;
  
      }
    }
  
  }
  
  .bg-background {
    background: -webkit-linear-gradient(left, #3cba92, #0ba360);
  
  }  
