
<ion-content class="main-view">
  <div class="overlay" (click)="closeModal()"></div>
  <div class="modal_content">
    <div class="modal_content_head">
        เลือกจังหวัด
        <ion-button fill="clear"  (click)="closeModal()" color="dark" class="img-card-close" > <ion-icon name="close"></ion-icon> </ion-button>
    </div>

    <ion-toolbar >
        <ion-searchbar mode="ios" (ionInput)="fillter($event)" ></ion-searchbar> <!-- (input)="getItems($event)" [formControl]="searchControl" (ionChange)="setFilteredItems()" -->
    </ion-toolbar>
    <ion-spinner *ngIf="items.length == []" name="circles" ></ion-spinner>

    <div class="scoll-content">
      <ion-list >
          <ion-item *ngFor="let item of items" (click)="selectedItem(item.text,item.value)">
            <p>{{ item.text }}</p>
          </ion-item> 
      </ion-list>
    </div>
  </div>


</ion-content>
