.searchbar .searchbar-input {
    padding: 0px 55px;
    border-radius: 30px;
    background-position: left 8px center;
    width: 100%; //220px
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #e6e6e6;
    box-shadow: none;
  }
  
  
  .searchbar-md .searchbar-search-icon {
    left: 11px;
    top: 5px;
  }
  
  .main-view {
    background: transparent;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  
  .modal_content {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    color: #333;
    background: #FFF;
    /* background-image: url(../../../assets/imgs/bg-pattern-400.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; */
    border-radius: 20px 20px 0px 0px;
    -webkit-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }
  
  .modal_content_head {
    display: block;
    width: 100%;
    height: 35px;
    text-align: center;
   // font-family: $th-font1;
    line-height: 34px;
    font-size: 18px;
  }
  
  .scoll-content {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
  
  p {
    font-size: 16px;
    //margin: 0px 0px 15px 0px;
   // font-family: $th-font1;
  }
  
  b {
    font-size: 1.5rem;
  }
  
  .button {
    height: 30px;
    border-radius: 4px;
    font-size: 1.6rem;
    color: #555;
    padding: 0px 0.5em;
  }
  
  .img-card-close {
    position: absolute;
    right: 5px;
    font-size: 18px;
  }
  
  .img-card-logo {
    width: 90px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }