<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">สมัครสมาชิกโกลบอลคลับ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="listcustomer"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="gbh_customer_id != null">
      <ion-button (click)="doRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="photos.length <= 0 " style="margin-bottom: 15px;">
    <ion-row>
      <ion-col class="ion-text-center">
        <h3 style="margin-top: 5px;margin-bottom: 0px;font-size: 18px">{{'globalclub.Surveyed_image' |
          translate}}</h3>
      </ion-col>
    </ion-row>
    <p class="ion-text-center" style="color: red;margin-top: 0px;margin-bottom: 0px;">* {{'globalclub.take_photo_survey' |
      translate}}</p>
  </ion-grid>

  <ion-grid *ngIf="photos.length >= 1">
    <ion-row>
      <ion-col size=6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-top: 10px">
    <div *ngFor="let image of images; let i = index;">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size=6 *ngIf="i < images.length">
          <ion-card class="block">
            <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(images[i].id_img)"></ion-icon>
            <img [lazyLoad]="images[i].globalclub_img2" [src]="images[i].globalclub_img2" [errorImage]="imageToShowOnError" ionImgViewer>
          </ion-card>
        </ion-col>
        <ion-col size=6 *ngIf="i+1 < images.length">
          <ion-card class="block">
            <ion-icon name="close-circle" class="deleteIcon" (click)="deletePhotoOnServer(images[i+1].id_img)"></ion-icon>
            <img [lazyLoad]="images[i+1].globalclub_img2" [src]="images[i+1].globalclub_img2" [errorImage]="imageToShowOnError" ionImgViewer>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="presentActionSheet()" icon-left class="bg-background" *ngIf="images == null">
        <ion-icon name="camera"></ion-icon>
        {{'addlocation.Photo_taking' | translate}}
      </ion-button>

      <ion-button expand="block" (click)="presentActionSheet()" icon-left class="bg-background" *ngIf="images != null">
        <ion-icon name="camera"></ion-icon>
        {{'addlocation.Photo_taking' | translate}}
      </ion-button>

    </ion-col>
  </ion-row>



  <ion-row >
    <ion-col>
      <form (ngSubmit)='searchForTerm()'>
        <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหารหัสบัตรประชาชน/เบอร์โทร..."></ion-searchbar>
      </form>
    </ion-col>
  </ion-row>


  <div *ngIf="items_score.length > 0">
    <div style="display: block">
      <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
    </div>

    <ion-row style="margin-left: 10px;margin-right: 10px;">
      <ion-col size=4 text-center style="color: #0075c2;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนทั้งหมด : </p>
        <span>{{score_net | number:'1.0-0'}}</span>
      </ion-col>
      <ion-col size=4 text-center style="color: #ffc107;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนที่ใช้ : </p>
        <span>{{score_pay | number:'1.0-0'}}</span>
      </ion-col>
      <ion-col size=4 text-center style="color: #1aaf5d;">
        <p style="margin-bottom: 5px;margin-top: 5px;">คะแนนคงเหลือ : </p>
        <span>{{balance_score | number:'1.0-0'}}</span>
      </ion-col>
    </ion-row>

    <ion-list style="margin-left: 20px;margin-right: 20px;">
      <h4 class="ion-text-center">เงื่อนไข </h4>
      <p style="margin-top: 0px;margin-bottom: 0px;">
        * ซื้อสินค้าในวัน ครบทุก 50 บาทรับ 1 คะแนนสะสม (ยกเว้นสินค้าที่ไม่ร่วมรายการ)
      </p>
      <p style="margin-top: 0px;margin-bottom: 0px;">
        * แสดงคะแนนสะสม ณ เมื่อวานนี้
      </p>
    </ion-list>
  </div>

  <br />

  <form (ngSubmit)="showConfirm()" #registerForm="ngForm">


    <ion-item *ngIf="items_data.length > 0">
      <ion-label position="floating">
        <span style="color: #222;">เลขที่สมาชิก : </span>
      </ion-label>
      <ion-input type="text" name="cusid" [(ngModel)]="datacount.cusid" required></ion-input>
    </ion-item>

    <!-- <ion-item *ngIf="datacustomer != null">
      <ion-label style="color: #e74c3c;">* ประเภทลูกค้า :</ion-label>
      <ion-select type="text" name="customer_type_globalclub" [(ngModel)]="datacount.customer_type_globalclub" required
        interface="popover">
        <ng-container *ngFor="let item of items">
          <ion-option value="{{item.customer_type_id}}" *ngIf="item.member == 'f'  ">{{item.customer_type_name}}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item>

    
    <ion-item *ngIf="datacustomer != null">
      <ion-label style="color: #e74c3c;">* ประเภทสมาชิก :</ion-label>
      <ion-select type="text" name="membership_type_globalclub" [(ngModel)]="datacount.membership_type_globalclub"
        required interface="popover">
        <ng-container *ngFor="let item of items">
          <ion-option value="{{item.customer_type_id}}" *ngIf="item.member == 't' ">{{item.customer_type_name}}</ion-option>
        </ng-container>
      </ion-select>
    </ion-item> -->



    <ion-item >
      <ion-label style="color: #e74c3c;">* ประเภทลูกค้า :</ion-label>

      <ion-select slot="end" type="text" name="customer_type_globalclub" [(ngModel)]="datacount.customer_type_globalclub" interface="popover" required>
        <ng-container *ngFor="let item of items">
        <ion-select-option [value]="item.customer_type_id" >
          {{item.customer_type_name}}
        </ion-select-option>
      </ng-container>
    </ion-select>

    </ion-item>

    <ion-item *ngIf="datacount.customer_type_globalclub == '1003' || datacount.customer_type_globalclub == '1019'">
      <ion-label style="color: #e74c3c;">* ประเภทย่อย :</ion-label>

      <ion-select slot="end" type="text" name="membership_type_globalclub" [(ngModel)]="datacount.membership_type_globalclub" multiple="true"
      cancelText="ยกเลิก" okText="ตกลง"  required>
        <ng-container *ngFor="let item of itemssub">
        <ion-select-option [value]="item.customer_subtype_id" *ngIf="item.customer_type_id == datacount.customer_type_globalclub">
          {{item.customer_type_name}}
        </ion-select-option>
      </ng-container>
    </ion-select>

    </ion-item>



    <ion-item>
      <ion-label position="floating" style="color: #e74c3c;">* รหัสบัตรประชาชน :</ion-label>
      <ion-input name="identification_card" type="tel" [(ngModel)]="datacount.identification_card"
        required (ionChange)="onSelectChange($event)"></ion-input>
    </ion-item>
    <ion-item *ngIf="datalength != '' " no-lines>
      <p style="color: #f53d3d;">{{datalength}}</p>
    </ion-item>



    <ion-item style="margin-top: 10px;">
      <ion-label style="color: #e74c3c;">* คำนำหน้าชื่อ :</ion-label>

      <ion-select slot="end" type="text" name="title_name" [(ngModel)]="datacount.title_name" interface="popover" required>
        <ng-container *ngFor="let item of itemstitle_name">
        <ion-select-option [value]="item.title_name" >
          {{item.title_name}}
        </ion-select-option>
      </ng-container>
    </ion-select>

    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* ชื่อ : </span>
      </ion-label>
      <ion-input type="text" name="firstname" [(ngModel)]="datacount.firstname" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* นามสกุล : </span>
      </ion-label>
      <ion-input type="text" name="lastname" [(ngModel)]="datacount.lastname" required></ion-input>
    </ion-item>

    <ion-item style="margin-top: 10px;">
      <ion-label style="color: #e74c3c;">* เพศ :</ion-label>
      <ion-select slot="end" type="text" name="sex" [(ngModel)]="datacount.sex" interface="popover" required placeholder="เลือกเพศ">
        <ion-select-option [value]="'ชาย'">ชาย</ion-select-option>
          <ion-select-option [value]="'หญิง'">หญิง</ion-select-option>
    </ion-select>
    </ion-item>

    <ion-item style="margin-top: 10px;">
      <ion-label style="color: #e74c3c;">* เลือกวันเกิด :</ion-label>
      <ion-datetime displayFormat="DD / MM / YYYY" pickerFormat="DD MM YYYY" max="{{maxdate}}" name="birthday"
        [(ngModel)]="datacount.birthday" required></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">อายุ :</ion-label>
      <ion-input name="age" type="tel" [(ngModel)]="datacount.age"></ion-input>
    </ion-item>

    <ion-list style="margin: 15px;">
      <span style="color: #0ba360;">* กรุณากรอกที่อยู่ เรียงตามบ้านเลขที่ -> จังหวัด -> อำเภอ -> ตำบล -> รหัสไปรษณีย์</span>
    </ion-list>

    <ion-item *ngIf="datacustomer == null">
      <ion-label stacked style="color: #e74c3c;font-size: 16px;">* บ้านเลขที่ :</ion-label>
      <ion-input stacked type="text" name="housenumber" [(ngModel)]="datacount.housenumber" (ngModelChange)="onChangehousenumber($event)"
        required></ion-input>
    </ion-item>

    <!-- <ion-row>
      <ion-col col-6>
        <ion-item>
        <ion-label stacked style="color: #e74c3c;font-size: 1.6rem;">* บ้านเลขที่ :</ion-label>
        <ion-input stacked type="text" name="housenumber" [(ngModel)]="datacount.housenumber" (ngModelChange)="onChangehousenumber($event)"
          required></ion-input>
      </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label stacked style="color: #e74c3c;font-size: 1.6rem;">* หมู่บ้าน :</ion-label>
          <ion-input stacked type="text" name="village" [(ngModel)]="datacount.village" (ngModelChange)="onChangevillage($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <div *ngIf="datacustomer == null">
      <ion-item (click)="openModalProvince()" *ngIf="datacount.housenumber != '' " style="color: #e74c3c;padding-top: 10px;"
        class="Show-button">เลือกจังหวัด :
        <span style="color: #0ba360;">{{datacount.province_name}}</span>
      </ion-item>
      <ion-item (click)="openModalAmphur()" *ngIf="datacount.province_id != 0" style="color: #e74c3c;padding-top: 10px;"
        class="Show-button">เลือกอำเภอ/เขต :
        <span style="color: #0ba360;">{{datacount.amphur_name}}</span>
      </ion-item>
      <ion-item (click)="openModalDistrict()" *ngIf="datacount.amphur_id != 0" style="color: #e74c3c;padding-top: 10px;"
        class="Show-button">เลือกตำบล/แขวง :
        <span style="color: #0ba360;">{{datacount.district_name}}</span>
      </ion-item>

    </div>


    <ion-item *ngIf="datacount.housenumber != '' && datacount.province_id != 0 && datacount.amphur_id != 0 && datacustomer == null">
      <ion-label position="floating" style="color: #e74c3c;">* รหัสไปรษณีย์ :</ion-label>
      <ion-input type="text" name="postcode" [(ngModel)]="datacount.postcode" (ngModelChange)="onChangepostcode($event)"
        required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating" style="color: #e74c3c;">* ที่อยู่ :</ion-label>
      <ion-input type="text" name="full_address" [(ngModel)]="datacount.full_address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > อีเมล์ :</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="datacount.email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" style="color: #e74c3c;">* เบอร์โทรมือถือ :</ion-label>
      <ion-input name="mobile" type="tel" [(ngModel)]="datacount.mobile" (ionChange)="onSelectChange2($event)" required></ion-input>
    </ion-item>
    <ion-item *ngIf="datalength2 != '' " no-lines>
      <p style="color: #f53d3d;">{{datalength2}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating">เบอร์โทรที่ทำงาน :</ion-label>
      <ion-input name="telephone" type="tel" [(ngModel)]="datacount.telephone"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating"> Facebook:</ion-label>
      <ion-input name="text" type="facebook" [(ngModel)]="datacount.facebook"></ion-input>
    </ion-item>

    <!--  <ion-item>
      <ion-label position="floating"> Line ID:</ion-label>
      <ion-input name="text" type="line" [(ngModel)]="datacount.line"></ion-input>
    </ion-item> -->

    <ion-item (click)="openModalBranch()" style="color: #e74c3c;margin-top: 10px;" class="Show-button">* สมัครที่สาขา
      :
      <span style="color: #0ba360;">{{datacount.branchname}}</span>
    </ion-item>

    <ion-item style="margin-top: 10px">
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Latitude' | translate}} </span>
      </ion-label>
      <ion-input name="latitude" type="text" [(ngModel)]="coords.latitude" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <span style="color: #e74c3c;">* {{'addlocation.Longitude' | translate}} </span>
      </ion-label>
      <ion-input name="longitude" type="text" [(ngModel)]="coords.longitude" ></ion-input>
    </ion-item>


    <!-- <ion-item>
            <ion-label position="floating">บุคคลอ้างอิงที่รู้จัก :</ion-label>
            <ion-input type="text" name="referenceperson" [(ngModel)]="datacount.referenceperson"></ion-input>
        </ion-item> -->


    <ion-row style="margin-top: 40px;">
      <!-- <ion-col text-center *ngIf="photos.length <= 0">
        <button ion-button block color="newcolor" type="submit" [disabled]="photos.length == 0">
          <span class="button-inner">
            <ion-icon name="md-checkbox-outline" style="margin-right: 5px;"></ion-icon>
            บันทึกข้อมูล
          </span>
          <div class="button-effect"></div>
        </button>
      </ion-col> -->
      <ion-col class="ion-text-center">
        <ion-button expand="block" class="bg-background" type="submit" [disabled]="!registerForm.form.valid">
          <span class="button-inner">
            <ion-icon name="md-checkbox-outline" style="margin-right: 5px;"></ion-icon>
            บันทึกข้อมูล
          </span>
          <div class="button-effect"></div>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>



  <br />
  <br />
  <div #map id="map"></div>

  <br />
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button expand="block" class="bg-background" (click)="showConfirmMap()">
          <ion-icon name="locate"></ion-icon> {{'addlocation.GPS_position_request' | translate}}
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>



  <p style="margin-top: 10px" class="ion-text-center">
    {{'addlocation.Press_GPS_button' | translate}}
  </p>
  <br />
  <br />


</ion-content>
