<!--   <ion-buttons slot="start">
    <ion-back-button  defaultHref=""></ion-back-button>
  </ion-buttons> -->


  <ion-header  no-border>
    <ion-toolbar  >
      <!-- color="{{settings.theme.header}}" -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <!-- <ion-searchbar mode="ios"  [(ngModel)]="searchInput" (ionChange)="onInput()"></ion-searchbar> -->
      <ion-searchbar mode="ios" placeholder="ค้นหาสินค้า..." name="getsearch" [(ngModel)]="getsearch"
        (click)="clickToSearch()"></ion-searchbar>
      <ion-buttons slot="end" (click)="openFilterpopup()">
        <ion-icon mode='md' name="funnel" style="margin: 0 8px;font-size: 23px"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-segment [(ngModel)]="tabselect" (ionChange)="selectFillter($event)" value="">
      <!-- <ion-segment-button value="HIT">
                         ความนิยม
                     </ion-segment-button> -->
      <ion-segment-button value="PROMOT" mode='md'>
        โปรโมชั่น
      </ion-segment-button>
      <!-- <ion-segment-button value="TOPSALE">
                         สินค้าขายดี
                     </ion-segment-button> -->
      <ion-segment-button value="PRICE" (click)="selectOrderPrice()" mode='md'>
        ราคา
      </ion-segment-button>
  
    </ion-segment>
  
  </ion-header>
  
  
  <ion-content class="content-bg" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  
    <img [lazyLoad]="imgBanner" >
    <!-- <p>ทั้งหมด: {{pageAllproduct|number}} รายการ</p> -->
  
    <!-- Breadcrumb -->
    <ul class="breadcrumb" *ngIf="trail != null">
      <li *ngFor="let tl of trail">
        <a href="#" *ngIf="tl.level < 4 " (click)="gotosubcat(tl.entity_id)">{{tl.name}}</a>
        <a href="#" *ngIf="tl.level == 4 ">{{tl.name}}</a>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </li>
      <!-- <li><a href="#">LOREM ITEM 2</a><ion-icon name="ios-arrow-forward"></ion-icon></li>
             <li><a href="#">LOREM ITEM 3</a></li> -->
    </ul>
    <!-- end Breadcrumb -->
    <div class="tags-content">
      <div class="button-tags-cat" *ngIf="isloadcat == false">ทั้งหมด: {{pageAllproduct|number}} รายการ </div>
      <div class="button-tags" *ngIf="filterBrand != ''" (click)="removeBrandConfirm()">
        <ion-icon name="backspace"></ion-icon>
        กรองยี่ห้อ
      </div>
      <div class="button-tags" *ngIf="filterPricelength != ''" (click)="removePriceConfirm()">
        <ion-icon name="backspace"></ion-icon>
        กรองราคา
      </div>
    </div>
  
    <div class="grid-content">
      <div *ngIf="isloadcat == true">
        <!-- pre load -->
        <div class="preload-block pre-col6">
          <span class="preload-content1"></span>
          <span class="preload-content2"></span>
        </div>
        <div class="preload-block pre-col6">
          <span class="preload-content1"></span>
          <span class="preload-content2"></span>
        </div>
        <div class="preload-block pre-col6">
          <span class="preload-content1"></span>
          <span class="preload-content2"></span>
        </div>
        <div class="preload-block pre-col6">
          <span class="preload-content1"></span>
          <span class="preload-content2"></span>
        </div>

         <!-- pre load -->
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
       <!-- pre load -->
       <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
      <div class="preload-block pre-col6">
        <span class="preload-content1"></span>
        <span class="preload-content2"></span>
      </div>
  
      </div>
  
      <!-- <div class="product-grid" *ngFor="let item of productData" (click)="gotoProductDetail(item.pro_barcode)">
             <img image-preloader="{{item.pro_img1}}">
             <p>{{item.pro_name_new}}</p>
             <h2 *ngIf="item.pro_price>0">฿{{item.pro_price|number}}</h2>
             <h2 *ngIf="item.pro_price==0" style="color:#FFF">0</h2>
             <h3>฿{{item.pro_sale_price|number}}</h3> 
         </div> -->
  
    </div>
  
    <div class="result_wrapper">
  
      <ion-row>
        <!-- Column -->
        <ion-col size=6 *ngFor="let item of productData">
          <div class="card-content" (click)="gotoProductDetail(item)">
            <div class="inner_result">
  
              <!--    <img class="img-cat" src="{{item.pro_img1}}" /> -->
  
              <img [lazyLoad]="item.pro_img1" [errorImage]="imageToShowOnError"  class="_1T9dHf">
  
  
              <div class="_2tmNDt" *ngIf="item.pro_price > 0 ">
                <div class="badge-text badge-text--promotion">
                  <div class="badge-text__text">
                    <div class="badge__promotion">
                      {{((item.pro_price-item.pro_sale_price)/item.pro_price)*100 | number:'0.0-0'}}%
                      <div class="badge__promotion-off">ลด</div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="card-body">
              <h5>{{item.pro_name_new}}</h5>
              <p *ngIf="item.pro_price > 0 "><strong>฿{{item.pro_price | number:'1.0-2'}}</strong>฿{{item.pro_sale_price
                   | number:'1.0-2'}}</p>
              <p [hidden]="item.pro_price > 0 ">฿{{item.pro_sale_price | number:'1.0-2'}}</p>
            </div>
  
          </div>
        </ion-col>
        <!-- Column -->
      </ion-row>
  
    </div>
    <!-- <ion-spinner *ngIf="isloadcat == true"  name="circles" style="margin-left: auto;margin-right: auto;margin-top: 39px;margin-bottom: 10px;width: 100%;"></ion-spinner> -->
  
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" fill="clear" *ngIf="showToolbar">
        <ion-fab-button class="fab-gborange" (click)="ScrollToTop()">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>
  
    <!-- <ion-spinner *ngIf="isloadcat == true"  name="circles" style="margin-left: auto;margin-right: auto;margin-top: 39px;margin-bottom: 10px;width: 100%;"></ion-spinner> -->
  
    <ion-infinite-scroll (ionInfinite)="loadProductInfinite($event)" threshold="80%">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>