$color-green: #009688;
$color-yellow: #f5ac03;
$th-font: 'CSChatThai';
$th-font1: 'Prompt';
$en-font: 'Rubik';

img.ng-lazyloaded {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ion-header {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

p {
  font-family: "Prompt";
  font-size: 12px;
  font-weight: 300;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.content-bg {
  background-color: #f5f6f8;
}

.searchbar .searchbar-input {
  padding: 6px 40px;
  border-radius: 30px;
  background-position: left 8px center;
  height: auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  color: #141414;
  background-color: #e6e6e6;
  box-shadow: none;
}

ion-toolbar.sc-ion-searchbar-ios-h,
ion-toolbar .sc-ion-searchbar-ios-h {

  padding-bottom: 0px;
  height: 52px;
}

.content-bg {
  //--background-color: #f5f6f8;
  --background: #f5f6f8;
}

.has-refresher>.scroll-content {
  border-top: 0px solid #fff;
}

ion-segment {
    
  background-color: #f8f8f8;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  
}
ion-segment-button{
  font-family: $th-font;
  font-size: large;
}

.segment-button-checked {
  background: #FFF;
  color: #009688;
  font-family: $th-font;
  font-size: large;
  font-weight: bold;
  /* border-bottom: 3px solid #FFC107; */
}


.bt-fillter {
  font-size: 12px;
}

.header .toolbar-ios:last-child .toolbar-background {
  border-width: 0 0 0px;
}

/* Product Catelog Grid */
.grid-content {
  width: 100%;
  margin: 0px 5px 5px;
}

.product-grid {
  width: 44%;
  margin-left: 5px;
  margin-top: 5px;
  display: inline-block;
  background-color: #FFF;
  border-radius: 0px;
  padding: 8px 4px 5px 5px;
}

.product-grid p {
  font-family: $th-font;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin: 0;
  text-align: left;
  line-height: 15px;
  /* white-space: nowrap; */
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-grid h2 {
  font-family: $en-font;
  font-size: 8px;
  font-weight: 300;
  color: #333;
  width: 100%;
  margin: 4px 0px 0px 0px;
  text-align: left;
  text-decoration: line-through;
  line-height: 24px;
}


.product-grid h3 {
  font-family: $en-font;
  font-size: 15px;
  font-weight: 600;
  color: #d2190c;
  width: 100%;
  margin: 0px 0px 8px 0px;
  text-align: left;
  line-height: 12px;
}

.product-card h3 span {
  font-size: 8px;
}

/* end Product Catelog Grid */

//tags button
.tags-content {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 3px 10px;
}

.button-tags {
  font-family: $th-font1;
  font-size: 11px;
  display: block;
  padding: 5px 10px;
  float: left;
  background-color: #FFC107;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;

  ion-icon {
    display: block;
    font-size: 1.3em;
    margin-top: 2px;
    margin-right: 3px;
    float: left;

  }
}

.button-tags-cat {
  font-family: $th-font1;
  font-size: 11px;
  line-height: 12px;
  display: block;
  padding: 8px 10px;
  float: left;
  background-color: #d8d8d8;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.button-tags-price {
  font-family: $th-font1;
  font-size: 11px;
  padding: 5px 10px;
  background-color: #efeeee;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: auto;
  display: inline-block;
}


.button-actionbar {
  display: block;
  width: 100%;
  padding: 5px 10px;
  float: right;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

/* Breadcrumb */
.breadcrumb {
  width: 100%;
  padding: 6px 15px;
  list-style: none;
  //background: #fd931b;
  background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
  height: 30px;
  font-weight: normal;
  color: #945b10;
  overflow: hidden;
  margin-top: 0px;
  font-weight: 400;
}

.breadcrumb li {
  display: inline-block;
  color: #945b10;
}

.breadcrumb a {
  color: #945b10;
  text-decoration: none;
  font-family: $th-font1;
  font-size: 12px;
  font-weight: 100;
}

.breadcrumb ion-icon {
  padding: 0 5px;
  font-size: 13px;
  color: #945b10;
}




/* ----- Preload Css --------- */
.preload-block {
  display: inline-block;
  background-color: #FFF;
  height: 120px;
  margin-left: 5px;
  margin-right: auto;
  margin-bottom: 8px;
  padding: 19px 20px;
  animation: preload-block 1.2s ease-in-out infinite;
}

@keyframes preload-block {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.5;
  }
}

.pre-col12 {
  width: 95%;
}

.pre-col6 {
  width: 46%;
}

.preload-block .preload-content1 {
  display: block;
  width: 110px;
  background-color: #ededed;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.preload-block .preload-content2 {
  display: block;
  width: 80px;
  background-color: #ededed;
  height: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* ----- Preload Css --------- */

/* @media (max-width: 600px) {
    ul {
      margin-left: -30%;
    }
  } */
.view-container {
  overflow: hidden;
}

/* Breadcrumb */



/* Responsive All Device */
/* Portrait */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-side {
    height: 230px;
  }

  .pro-content-img {
    width: 55%;
  }
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background-color 0.8s;
}

.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, rgb(153, 152, 152) 1%) center/15000%;
}

.ripple:active {
  background-color: #ccc;
  background-size: 100%;
  transition: background-color 0s;
}

/* Galaxy  Portrait */
@media only screen and (max-width: 360px) {
  .header-side {
    height: 230px;
  }

  .pro-content-img {
    width: 50%;
  }

  .product-grid {
    width: 47%;
    margin-left: 4px;
  }
}

/* Smartphones (landscape) ----------- */
/* @media only screen
      and (min-width : 321px) {
     
      } */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .header-side {
    height: 230px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-width: 375px) and (max-width: 568px) and (orientation: portrait) {
  /* STYLES GO HERE */
}



//new css
.fab-gborange {
    --color: #945b10;
    --background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);
    border-radius: 50%;
  }

//list Card
.result_wrapper {
  width: 100%;
  padding: 5px;

  .row {
    width: 100%;
  }

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
      width: calc(100% - 51%);
      display: inline-block;

      .inner_result {
        position: relative;
        height: 160px;
        background: #f5f5f5;
        padding: 0px;
        text-align: center;

        img {
          height: 130px;
          width: auto;
        }

        .fav_circle {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: 10px;
          //  background: url("../assets/imgs/heart.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 12px;
        }

        .fav {
          background-color: #0ba360;
        }

        .not_fav {
          background-color: #dcdcdc;
        }
      }

      h5 {
        text-align: center;
        margin: 0px;
        padding: 0px;
        color: #575757;
        padding-top: 10px;
        font-weight: 400;
        text-align: left;
      }

      p {
        text-align: center;
        margin: 0px;
        padding: 0px;
        color: #575757;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        padding-bottom: 15px;

        strong {
          color: #a3a3a3;
          font-weight: 300;
          padding-left: 5px;
          text-decoration: line-through;
          margin-right: 5px;
        }
      }
    }
  }

  //Clear All
  .fashion_header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h6 {
      padding: 0px;
      margin: 0px;
      float: left;
      color: #646464;
      text-transform: uppercase;
      padding: 8px;
    }

    .seeall {
      float: right;
      color: #fff;
      height: 25px;
      border-radius: 20px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: capitalize;
      font-size: 2rem;
    }

    .seeall_pink {
      background: -webkit-linear-gradient(left, #3cba92, #0ba360);
      font-size: 1.2rem;
      margin-right: 10px;
    }

    .seeall_blue {
      background: #1f5282;
    }
  }

  .card-content {
    border-radius: 3px;
    //ใส่สะท้อน Card view
    //box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    text-decoration: none;
    vertical-align: top;

    .inner_result {
      position: relative;
      //height: 160px;
      padding: 0px;
      text-align: center;
      ._1T9dHf {
        height: 228px;
        object-fit: contain;
    }

      ._2tmNDt {
        position: absolute;
        top: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;

        .badge-text {
          //margin-left: 0.25rem;
          -webkit-box-flex: 0;
          -webkit-flex: 0;
          -moz-box-flex: 0;
          -ms-flex: 0;
          flex: 0;
        }

        .badge-text--promotion {
          //background-color: #fcd511;
          background: linear-gradient(353deg, #ffcb3b 20%, #ffd853 39%, #ffe365 100%);

          .badge-text__text {
            width: 2.5rem;
            height: 2.5rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            background-color: inherit;

            .badge__promotion {
              white-space: normal;
              color: #945b10;
              text-align: center;
              font-weight: 600;
              font-family: $en-font;
              font-size: 12px;
              line-height: 13px;
              margin-top: 3px;

              .badge__promotion-off {
                color: #fff;
              }
            }
          }

          .badge-text__text:after {
            content: "";
            width: 0;
            height: 0;
            left: 0;
            bottom: -0.6rem;
            border-style: solid;
            position: absolute;
            border-width: 0 1.25rem 0.65rem;
            border-color: transparent #ffcb3b;
          }
        }
      }

      img {
        //height: 130px;
        width: auto;
      }

      .fav_circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        //background: url("../assets/imgs/heart.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 12px;
      }

      .fav {
        background-color: #ff350e;
      }

      .not_fav {
        background-color: #dcdcdc;
      }
    }

    .item-desc {
      padding: 0.08rem 0.08rem 0.07rem;
      background: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .item-title {
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      color: #404040;
      overflow: hidden;
      margin-top: 0.04rem;
    }

    .item-price-promotion {
      line-height: 0.21rem;
      height: 0.21rem;
      font-size: 16px;
      color: #f57224;
    }

    .item-price-original {
      line-height: 0.11rem;
      height: 0.11rem;
      color: #9e9e9e;
      font-size: 12px;
    }
  }

  .card-body {
    flex: 1 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $th-font;
    font-size: 16px;

    h5 {
      /* text-align: center;
                    margin: 0px;
                    padding: 0px;
                    color: #575757;
                    padding-top: 10px;
                    font-weight: 400;
                    text-align: left; */

      /*  margin-top: 0px;
                    color: #575757;
                    white-space: normal;
                    height: 4rem;
                    font-size: 14px;
                    word-break: break-all;
                    margin-bottom: .75rem;
                    overflow: hidden;
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2; */

      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 16px;
      color: #333;
      overflow: hidden;
      margin-top: 5px;
      margin-bottom: 5px;
      height: 3rem;
      font-family: $th-font;
      line-height: 15px;
    }

    p {
      font-family: $en-font;
      text-align: center;
      margin: 0px;
      padding: 0px;
      text-align: left;
      padding-bottom: 5px;
      font-size: 15px;
      font-weight: 600;
      color: #d2190c;

      strong {
        font-family: $en-font;
        font-size: 8px;
        color: #333;
        font-weight: 300;
        padding-left: 5px;
        text-decoration: line-through;
        margin-right: 5px;
      }
    }
  }
}



ion-card {
  margin: 0;
  height: 100%;
}

ion-card-title {
  font-size: 40px;
}

ion-card-header {
  padding: 10px;
}

ion-card-content {
  padding: 0;

  .price {
    padding: 0 10px 10px 10px;
    font-weight: bold; //color: #000000;
    font-size: 14px;

    .special-price {
      //color: #868686;
      padding-left: 5px;
      font-size: 10px;
      font-weight: 300;
    }
  }
}

ion-card-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: small; //color: black;
}

.scrollmenu2 {
  margin: 5px 0;
  z-index: 1; //background-color: #fff;
  overflow: auto;
  white-space: nowrap;

  h5 {
    margin: 0;
    padding: 5px;
    font-size: 12px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .scroll {
    display: inline-block; //color: #000;
    text-align: center;
    padding: 8px 8px 0 8px;
    text-decoration: none;
    width: 30%;
  }
}

.list-md {
  padding-top: 0;
}

.stock {
  position: absolute;
  top: -4px;
  left: -6px;
  width: 130px;
  font-size: 8px;
  margin: 15px;
  margin-left: -39px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 19px;
  --box-shadow: none;
}

.offer {
  margin-left: 5px;
  font-size: 12px;
  --border-radius: 25px;
  width: 36px;
  min-height: 36px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: 5px;
  --webkit-box-shadow: none;
  --box-shadow: none;
}

.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none;
}

.products-header {
  ion-searchbar {
    height: 40px;

    ion-toolbar:last-child {
      --border-width: 0;
    }
  }
}